/*
QUARKS
_________________________________________________________________________________________
*/

.Q_BgWhite {
  background-color: var(--white);
  color: var(--black);
}

.Q_BgYellow {
  background-color: var(--grey);
  color: var(--yellow);
}

.Q_BgBlackTxtWhite {
  background-color: var(--black);
  color: var(--white);
}

.Q_BgBlackTxtYellow {
  background-color: var(--black);
  color: var(--yellow);
}

.Q_ButtonStroke {
  background-color: none;
  border: solid 1.5px var(--black);
}

.Q_Row {
  gap: 10px;
}

.Q_Column {
  flex-direction: column;
  gap: 8px;
}

.Q_HeaderWidth {
  width: 35%;
}

.Q_BodyTextWidth {
  width: 60%;
}

.Q_MainCover {
  background-image: url(../../images/components/01_Quarks/BgMainCover.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Q_BannerPattern {
  background-image: url(../../images/components/01_Quarks/banner_pattern.webp);
  width: 100%;
  background-size: cover;
}
.Q_BannerQuote {
  background-image: url(../../images/components/01_Quarks/Q_BannerQuote.webp);
  width: 100%;
  background-size: cover;
}
.Q_BannerQuestion {
  background-image: url(../../images/components/01_Quarks/banner_question.webp);
  width: 100%;
  background-size: cover;
  background-position: -270px;
}

.Q_BannerSkateboards {
  background-image: url(../../images/components/01_Quarks/banner_skateboards.webp);
  width: 100%;
  background-size: cover;
}

.Q_LocationMainPhoto {
  background-image: url(../../images/components/01_Quarks/location_main_photo.webp);
  background-size: cover;
}

.Q_TricksPhoto1 {
  background-image: url(../../images/components/01_Quarks/tricks_photo_1.webp);
  background-size: cover;
  border-radius: 50px 0;
  height: 60vh;
  width: 40%;
}

.Q_TricksPhoto2 {
  background-image: url(../../images/components/01_Quarks/tricks_photo_2.webp);
  background-size: cover;
  border-radius: 50px 0;
  height: 60vh;
  width: 60%;
}
.Q_CardScooter {
  background-image: url(../../images/components/01_Quarks/Q_CardScooter.webp);
  background-size: cover;
  border-radius: 50px 0;
  width: 100%;
  height: 100%;
  background-position: center;
  transition: background-image 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover {
    background-image: url(../../images/components/01_Quarks/Q_CardScooterYellow.webp);
  }
}

.Q_CardSkateboard {
  background-image: url(../../images/components/01_Quarks/Q_CardSkateboard.webp);
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center;
  transition: background-image 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover {
    background-image: url(../../images/components/01_Quarks/Q_CardSkateboardYellow.webp);
  }
}

.Q_CardBMX {
  background-image: url(../../images/components/01_Quarks/Q_CardBmx.webp);
  background-size: cover;
  border-radius: 50px 0;
  width: 100%;
  height: 100%;
  background-position: center;
  transition: background-image 0.2s ease-in-out, color 0.2s ease-in-out;
  &:hover {
    background-image: url(../../images/components/01_Quarks/Q_CardBmxYellow.webp);
  }
}
.Q_SectionHeaderPhoto {
  width: 100%;
  height: 80%;
}
.Q_LogoWithTg {
  width: 26%;
  background-image: url(../../images/components/01_Quarks/Q_LogoWithTg.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.Q_FooterBg {
  background-image: url(../../images/components/01_Quarks/footer_bg.webp);
  background-size: cover;
}
.Q_MetroLogo {
  width: 2.5rem;
  height: 1.4rem;
}
.Q_GradientSquare {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(26, 26, 26, 1) 0%,
    rgba(26, 26, 26, 0) 80%,
    rgba(26, 26, 26, 0) 100%
  );
  z-index: 1;
}

// ADD IMAGES

.Q_LocPhoto1::before {
  background-image: url(../../images/spots/Q_SpotCard1.webp);
}
.Q_LocPhoto2::before {
  background-image: url(../../images/spots/Q_SpotCard2.webp);
}
.Q_LocPhoto3::before {
  background-image: url(../../images/spots/Q_SpotCard3.webp);
}
.Q_LocPhoto4::before {
  background-image: url(../../images/spots/Q_SpotCard4.webp);
}
.Q_LocPhoto5::before {
  background-image: url(../../images/spots/Q_SpotCard5.webp);
}
.Q_LocPhoto6::before {
  background-image: url(../../images/spots/Q_SpotCard6.webp);
}
.Q_LocPhoto7::before {
  background-image: url(../../images/spots/Q_SpotCard7.webp);
}
.Q_LocPhoto8::before {
  background-image: url(../../images/spots/Q_SpotCard8.webp);
}
.Q_LocPhoto9::before {
  background-image: url(../../images/spots/Q_SpotCard1.webp);
}
.Q_FunCard1::before {
  background-image: url(../../images/chill/Q_FunCard1.webp);
}
.Q_FunCard2::before {
  background-image: url(../../images/chill/Q_FunCard2.webp);
}
.Q_FunCard3::before {
  background-image: url(../../images/chill/Q_FunCard3.webp);
}
.Q_Trick1_1 {
  background-image: url(../../images/tricks/Q_Trick1_1.webp);
}
.Q_Trick1_2 {
  height: 60vh;
  width: 40%;
}
.Q_Trick1_3 {
  height: 60vh;
  width: 60%;
}
