/*
QUARKS
_________________________________________________________________________________________
*/

.Q_BgWhite {
  background-color: var(--white);
  color: var(--black);

  &:hover {
    background-color: var(--yellow);
    color: var(--black);
  }
}

.Q_BgYellow {
  background-color: var(--yellow);
  color: var(--black);
}

.Q_BgYellowButton {
  background-color: var(--yellow);
  color: var(--black);

  &:hover {
    background-color: var(--black);
    color: var(--yellow);
  }
}

.Q_BgGrey {
  background-color: var(--grey);
  color: var(--yellow);
}

.Q_BgBlack {
  background-color: var(--black);
  color: var(--white);

  &:hover {
    background-color: var(--yellow);
    color: var(--black) !important;
  }
}

.Q_ButtonStroke {
  background-color: none;
  border: solid 1.5px var(--black);
}

.Q_ButtonStrokeWhite {
  background-color: none;
  border: solid 1.5px var(--white);

  &:hover {
    color: var(--yellow) !important;
    border-color: var(--yellow);
  }
}

.Q_Row {
  gap: 10px;
}

.Q_Column {
  flex-direction: column;
  gap: 8px;
}

.Q_HeaderWidth {
  width: 35%;
}

.Q_BodyTextWidth {
  width: 60%;
}

.Q_MainCover {
  background-image: url(../../images/components/01_Quarks/BgMainCover.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Q_BannerPattern {
  background-image: url(../../images/components/01_Quarks/banner_pattern.webp);
  width: 100%;
  background-size: cover;
}

.Q_BannerQuote {
  background-image: url(../../images/components/01_Quarks/Q_BannerQuote.webp);
  width: 100%;
  background-size: cover;
}

.Q_BannerSkateboards {
  background-image: url(../../images/components/01_Quarks/banner_skateboards.webp);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 1.25rem;
}

.Q_LocationMainPhoto {
  background-image: url(../../images/components/01_Quarks/location_main_photo.webp);
  background-size: cover;
}

.Q_TricksPhoto1 {
  background-image: url(../../images/components/01_Quarks/tricks_photo_1.webp);
  background-size: cover;
  border-radius: 50px 0;
  height: 60vh;
  width: 40%;
}

.Q_TricksPhoto2 {
  background-image: url(../../images/components/01_Quarks/tricks_photo_2.webp);
  background-size: cover;
  border-radius: 50px 0;
  height: 60vh;
  width: 60%;
}
.Q_CardScooter {
  background-image: url(../../images/components/01_Quarks/Q_CardScooter.webp);
  background-size: cover;
  border-radius: 50px 0;
  width: 100%;
  height: 100%;
  background-position: right;
  transition: background-image 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover {
    background-image: url(../../images/components/01_Quarks/Q_CardScooterYellow.webp);
  }
}

.Q_CardSkateboard {
  background-image: url(../../images/components/01_Quarks/Q_CardSkateboard.webp);
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: right;
  transition: background-image 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover {
    background-image: url(../../images/components/01_Quarks/Q_CardSkateboardYellow.webp);
  }
}

.Q_CardBMX {
  background-image: url(../../images/components/01_Quarks/Q_CardBmx.webp);
  background-size: cover;
  border-radius: 50px 0;
  width: 100%;
  height: 100%;
  background-position: right;
  transition: background-image 0.2s ease-in-out, color 0.2s ease-in-out;
  &:hover {
    background-image: url(../../images/components/01_Quarks/Q_CardBmxYellow.webp);
  }
}
.Q_SectionHeaderPhoto {
  width: 100%;
  height: 80%;
}
.Q_LogoWithTg {
  width: 26%;
  background-image: url(../../images/components/01_Quarks/Q_LogoWithTg.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.Q_FooterBg {
  background-image: url(../../images/components/01_Quarks/footer_bg.webp);
  background-size: cover;
}
.Q_MetroLogo {
  width: 2.5rem;
  height: 1.4rem;
}
.Q_GradientSquare {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(26, 26, 26, 1) 0%,
    rgba(26, 26, 26, 0) 80%,
    rgba(26, 26, 26, 0) 100%
  );
  z-index: 1;
}

.Q_GradientSquareCover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(26, 26, 26, 0.9) 0%,
    rgba(26, 26, 26, 0) 80%,
    rgba(26, 26, 26, 0) 100%
  );
  z-index: 0;
}

// ADD IMAGES

.Q_LocPhoto0::before {
  background-image: url(../../images/spots/Q_SpotCard1.webp);
}
.Q_LocPhoto1::before {
  background-image: url(../../images/spots/Q_SpotCard1.webp);
}
.Q_LocPhoto2::before {
  background-image: url(../../images/spots/Q_SpotCard2.webp);
}
.Q_LocPhoto3::before {
  background-image: url(../../images/spots/Q_SpotCard3.webp);
}
.Q_LocPhoto4::before {
  background-image: url(../../images/spots/Q_SpotCard4.webp);
}
.Q_LocPhoto5::before {
  background-image: url(../../images/spots/Q_SpotCard5.webp);
}
.Q_LocPhoto6::before {
  background-image: url(../../images/spots/Q_SpotCard6.webp);
}
.Q_LocPhoto7::before {
  background-image: url(../../images/spots/Q_SpotCard7.webp);
}
.Q_LocPhoto8::before {
  background-image: url(../../images/spots/Q_SpotCard8.webp);
}
.Q_LocPhoto9::before {
  background-image: url(../../images/spots/Q_SpotCard9.webp);
}
.Q_LocPhoto10::before {
  background-image: url(../../images/spots/Q_SpotCard10.webp);
}
.Q_LocPhoto11::before {
  background-image: url(../../images/spots/Q_SpotCard11.webp);
}
.Q_LocPhoto12::before {
  background-image: url(../../images/spots/Q_SpotCard12.webp);
}

.Q_FunCard1::before {
  background-image: url(../../images/chill/Q_FunCard1.webp);
}
.Q_FunCard2::before {
  background-image: url(../../images/chill/Q_FunCard2.webp);
}
.Q_FunCard3::before {
  background-image: url(../../images/chill/Q_FunCard3.webp);
}
.Q_FunCard4::before {
  background-image: url(../../images/chill/Q_FunCard4.webp);
}
.Q_FunCard5::before {
  background-image: url(../../images/chill/Q_FunCard5.webp);
}
.Q_FunCard6::before {
  background-image: url(../../images/chill/Q_FunCard6.webp);
}
.Q_FunCard7::before {
  background-image: url(../../images/chill/Q_FunCard7.webp);
}
.Q_FunCard8::before {
  background-image: url(../../images/chill/Q_FunCard8.webp);
}
.Q_FunCard9::before {
  background-image: url(../../images/chill/Q_FunCard9.webp);
}
.Q_FunCard10::before {
  background-image: url(../../images/chill/Q_FunCard10.webp);
}
.Q_FunCard11::before {
  background-image: url(../../images/chill/Q_FunCard11.webp);
}
.Q_FunCard12::before {
  background-image: url(../../images/chill/Q_FunCard12.webp);
}

.Q_SpotsCovers {
  background-size: cover;
  background-position: center center;
}

.Q_SpotsCover1 {
  background-image: url(../../images/spots/Q_SpotCard1.webp);
}
.Q_SpotsCover2 {
  background-image: url(../../images/spots/Q_SpotCard2.webp);
}
.Q_SpotsCover3 {
  background-image: url(../../images/spots/Q_SpotCard3.webp);
}
.Q_SpotsCover4 {
  background-image: url(../../images/spots/Q_SpotCard4.webp);
}
.Q_SpotsCover5 {
  background-image: url(../../images/spots/Q_SpotCard5.webp);
}
.Q_SpotsCover6 {
  background-image: url(../../images/spots/Q_SpotCard6.webp);
}
.Q_SpotsCover7 {
  background-image: url(../../images/spots/Q_SpotCard7.webp);
}
.Q_SpotsCover8 {
  background-image: url(../../images/spots/Q_SpotCard8.webp);
}
.Q_SpotsCover9 {
  background-image: url(../../images/spots/Q_SpotCard9.webp);
}
.Q_SpotsCover10 {
  background-image: url(../../images/spots/Q_SpotCard10.webp);
}
.Q_SpotsCover11 {
  background-image: url(../../images/spots/Q_SpotCard11.webp);
}
.Q_SpotsCover12 {
  background-image: url(../../images/spots/Q_SpotCard12.webp);
}

.Q_Trick1_1 {
  background-image: url(../../images/tricks/Q_Trick1_1.webp);
}
.Q_Trick2_1 {
  background-image: url(../../images/tricks/Q_Trick2_1.webp);
}
.Q_Trick3_1 {
  background-image: url(../../images/tricks/Q_Trick3_1.webp);
}
.Q_Trick4_1 {
  background-image: url(../../images/tricks/Q_Trick4_1.webp);
}
.Q_Trick5_1 {
  background-image: url(../../images/tricks/Q_Trick5_1.webp);
}
.Q_Trick6_1 {
  background-image: url(../../images/tricks/Q_Trick6_1.webp);
}

.Q_Trick7_1 {
  background-image: url(../../images/tricks/Q_Trick7_1.webp);
}
.Q_Trick8_1 {
  background-image: url(../../images/tricks/Q_Trick8_1.webp);
}
.Q_Trick9_1 {
  background-image: url(../../images/tricks/Q_Trick9_1.webp);
}
.Q_Trick10_1 {
  background-image: url(../../images/tricks/Q_Trick10_1.webp);
}
.Q_Trick11_1 {
  background-image: url(../../images/tricks/Q_Trick11_1.webp);
}
.Q_Trick12_1 {
  background-image: url(../../images/tricks/Q_Trick12_1.webp);
}

.Q_Trick13_1 {
  background-image: url(../../images/tricks/Q_Trick13_1.webp);
}
.Q_Trick14_1 {
  background-image: url(../../images/tricks/Q_Trick14_1.webp);
}

.Q_Trick15_1 {
  background-image: url(../../images/tricks/Q_Trick15_1.webp);
}
.Q_Trick16_1 {
  background-image: url(../../images/tricks/Q_Trick16_1.webp);
}
.Q_Trick17_1 {
  background-image: url(../../images/tricks/Q_Trick17_1.webp);
}
.Q_Trick18_1 {
  background-image: url(../../images/tricks/Q_Trick18_1.webp);
}
.Q_Trick1_2 {
  height: fit-content;
  width: 39%;
}
.Q_Trick1_3 {
  height: fit-content;
  width: 59%;
}

.Q_SlangsPhoto2 {
  width: 60%;
}
.Q_SlangsPhoto2 {
  width: 60%;
  height: fit-content;
  margin: 3.75rem 0 3.75rem 0;
}
.Q_FilmPhoto {
  width: 35%;
  height: fit-content;
}

.Q_TipCardSmall1 {
  background-image: url(../../images/tips/Q_TipCardSmall1.webp);
}
.Q_Tips1Photo {
  background-image: url(../../images/tips/tips1/MainPhoto.webp);
}
.Q_Tips2Photo {
  background-image: url(../../images/tips/tips2/MainPhoto.webp);
}
.Q_Tips3Photo {
  background-image: url(../../images/tips/tips3/MainPhoto.webp);
}
.Q_Tips4Photo {
  background-image: url(../../images/tips/tips4/MainPhoto.webp);
}
.Q_Tips5Photo {
  background-image: url(../../images/tips/tips5/MainPhoto.webp);
}
.Q_Tips6Photo {
  background-image: url(../../images/tips/tips6/MainPhoto.webp);
}
.Q_Tips7Photo {
  background-image: url(../../images/tips/tips7/MainPhoto.webp);
}
.Q_Tips8Photo {
  background-image: url(../../images/tips/tips8/MainPhoto.webp);
}
.Q_Tips9Photo {
  background-image: url(../../images/tips/tips9/MainPhoto.webp);
}
.Q_Tips10Photo {
  background-image: url(../../images/tips/tips10/MainPhoto.webp);
}
.Q_Tip11Photo {
  background-image: url(../../images/tips/tips11/MainPhoto.webp);
}
.Q_Tips12Photo {
  background-image: url(../../images/tips/tips12/MainPhoto.webp);
}
.Q_Tips13Photo {
  background-image: url(../../images/tips/tips13/MainPhoto.webp);
}

.Q_BannerQuestion {
  background-image: url(../../images/components/02_Atoms/A_InfoIllustration.webp);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 90% center;
}

.Q_Song {
  width: 18.125rem;
}

.Q_Artist {
  width: 15rem;
}

.Q_Album {
  width: 12.9375rem;
}

@media screen and (max-width: 500px) {
  .Q_SectionHeaderPhoto {
    width: 100%; /* Ширина картинки на 100% */
    height: 100%; /* Картинка растягивается по высоте родительского блока */
    object-fit: cover; /* Сохраняет пропорции изображения, обрезая лишнее при необходимости */
  }
  .Q_SectionHeaderPhotoMobile {
    position: absolute; /* Абсолютное позиционирование */
    top: 0;
  }
  .Q_SectionHeaderPhotoSpotsMobile {
    object-position: right center;
  }
  .Q_BannerQuote {
    background-position: -3rem;
  }
  .Q_LogoWithTg {
    width: 100%;
    height: 15vh;
  }
  .Q_SlangsPhoto2 {
    width: 100%;
  }
  .Q_SectionHeaderPhotoMobile {
    position: absolute;
    top: 0;
  }
  .Q_SectionHeaderPhotoFunMobile {
    object-position: center;
  }
  .Q_FilmPhoto {
    width: 50%;
  }
  .Q_MainCover {
    background-position: right;
  }

  .Q_GradientSquareCover {
    background: linear-gradient(
      to top,
      rgba(26, 26, 26, 1) 0%,
      rgba(26, 26, 26, 1) 5%,
      rgba(26, 26, 26, 0) 100%
    );
  }

  .Q_BannerQuestion {
    background-position: center 1.88rem;
    background-size: 20rem;
  }
}
