/*
ATOMS
_________________________________________________________________________________________
*/

.A_Header0 {
  font-family: 'Benzin-Bold', sans-serif;
  font-size: 8rem;
  text-transform: uppercase;
  color: var(--black);
  letter-spacing: 2%;
  line-height: normal;
}

.A_Header1 {
  font-family: 'Benzin-Bold', sans-serif;
  font-size: 4.6rem;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 3%;
  line-height: normal;
}

.A_Header2 {
  font-family: 'Benzin-Bold', sans-serif;
  font-size: 1.9rem;
  text-transform: uppercase;
  color: var(--black);
  letter-spacing: 3%;
  line-height: 2.3rem;
}

.A_Quote {
  font-family: 'Benzin-Bold', sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 3%;
  line-height: 2.1rem;
  width: 55%;
  margin-left: 8%;
}

.A_Header3 {
  font-family: 'Benzin-Bold', sans-serif;
  font-size: 1.5rem;
  color: var(--black);
  letter-spacing: 3%;
  line-height: 1.6rem;
}

.A_HeaderCards {
  font-family: 'Benzin-Bold', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--black);
  letter-spacing: 3%;
  line-height: 2.5rem;
}

.A_BodyText {
  font-family: 'Inter-Regular';
  font-size: 1.125rem;
  color: var(--black);
  letter-spacing: 1%;
  line-height: normal;
}

.A_BodyTextItalic {
  font-family: 'Inter-Regular';
  font-style: italic;
  font-size: 1.125rem;
  color: var(--black);
  letter-spacing: 1%;
  line-height: normal;
}

.A_TextButton {
  font-family: 'Inter-SemiBold';
  font-size: 1.125rem;
  letter-spacing: 1%;
  line-height: 1.2rem;
}

.A_Button {
  padding: 16px 32px;
  width: fit-content;
  border-radius: 6px;

  &:hover {
    opacity: 70%;

    .A_TextButton {
      text-decoration: none;
    }
  }
}
.A_ButtonSmall {
  display: inline-flex;
  padding: 0.625rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--white);
  border-radius: 0.375rem;
  color: var(--black, #1a1a1a);
  font-family: 'Inter-SemiBold';
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  &:hover {
    background-color: var(--yellow);
  }
}
.A_FactText {
  font-family: 'Inter-Regular';
  font-size: 1.125rem;
  text-align: center;
  color: var(--white);
  letter-spacing: 1%;
}

.A_FactNumber {
  font-family: 'Benzin-Bold', sans-serif;
  font-size: 4.6rem;
  text-transform: uppercase;
  color: var(--yellow);
  text-align: center;
}

.A_Tag {
  font-family: 'Inter-Regular';
  font-size: 0.8rem;
  text-align: center;
  width: fit-content;
  padding: 6px 24px;
  border-radius: 0.18rem;
  letter-spacing: 1%;
}

.A_LogoYellow {
  width: 9.5rem;
  height: 1.2rem;
  background-image: url(../../images/logoYellow.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.A_LogoBlack {
  width: 9.5rem;
  height: 1.2rem;
  background-image: url(../../images/logoDark.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.A_HseLogo {
  width: 8rem;
  height: 4rem;
  background-image: url(../../images/components/02_Atoms/HSE_logo.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.A_SocialNetworks {
  width: 2rem;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.tg {
  background-image: url(../../images/components/02_Atoms/tg.webp);
}
.vk {
  background-image: url(../../images/components/02_Atoms/vk.webp);
}
.A_Icons {
  border-radius: 10px 0;
  width: 40px;
}

.A_Numbers {
  font-family: 'Siegra';
  font-size: 1.2rem;
  letter-spacing: 1%;
  width: 40px;
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 1px 0 0;
  border-radius: 10px 0;
}

.A_Input {
  width: 390px;
  padding: 12.5px;
  border: solid 1.5px var(--black);
  border-radius: 6px;
  background-color: var(--white);
}

.A_Search {
  width: 25px;
  height: 25px;
}
/*start*/
.A_LevelIcon {
  width: 14%;
  height: 100%;
}
.A_LevelIconEasy {
  background-image: url(../../images/components/02_Atoms/A_LevelIconEasy.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.A_LevelIconMid {
  background-image: url(../../images/components/02_Atoms/A_LevelIconMid.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.A_LevelIconHard {
  background-image: url(../../images/components/02_Atoms/A_LevelIconHard.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.A_FilterTag {
  display: inline-flex;
  padding: 0.875rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.375rem;
  border: 1px solid var(--grey, #6d6d6d);
  width: fit-content;
  color: var(--grey);
  font-size: 1.125rem;
  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: 600;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  &.active {
    background-color: var(--grey);
    color: var(--yellow);
  }
  &:hover {
    background-color: var(--grey);
    color: var(--yellow);
  }
}
.A_ArrowYellow {
  opacity: 0;
  visibility: hidden;
  width: 10%;
  background-image: url(../../images/components/02_Atoms/A_ArrowYellow.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out;
}
@media screen and (max-width: 500px) {
  .A_Header0 {
    font-size: 5.5rem;
  }

  .A_Header1 {
    font-size: 4.6rem;
    text-align: left;
  }

  .A_HeaderCards {
    font-size: 2.1rem;
  }

  .A_BodyText {
    font-size: 1rem;
  }

  .A_FactText {
    font-size: 1rem;
  }

  .A_FactNumber {
    font-size: 4.6rem;
  }

  .A_Tag {
    font-size: 0.625rem;
    padding: 8px 10px;
  }

  .A_Button {
    width: 100%;
  }

  .A_Input {
    width: 100%;
  }
}
