/*
ATOMS
_________________________________________________________________________________________
*/

.A_Header0 {
  font-family: 'Benzin-Bold', sans-serif;
  font-size: 5.2rem;
  text-transform: uppercase;
  letter-spacing: 2%;
  line-height: 105%;
}

.A_Header1 {
  font-family: 'Benzin-Bold', sans-serif;
  font-size: 4.125rem;
  text-transform: uppercase;
  letter-spacing: 0.12375rem;
  line-height: 115%;
}

.A_Header2 {
  font-family: 'Benzin-Bold', sans-serif;
  font-size: 1.9rem;
  text-transform: uppercase;
  color: var(--black);
  letter-spacing: 3%;
  line-height: 2.3rem;
}

.A_Quote {
  font-family: 'Benzin-Bold', sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 3%;
  line-height: 2.1rem;
  width: 55%;
  margin-left: 8%;
}

.A_Header3 {
  font-family: 'Benzin-Bold', sans-serif;
  font-size: 1.25rem;
  color: var(--black);
  letter-spacing: 0.037rem;
  line-height: 1.6rem;
}

.A_HeaderCards {
  font-family: 'Benzin-Bold', sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: var(--black);
  letter-spacing: 0.0525rem;
  line-height: 2.1rem;
}

.A_HeaderTest {
  margin: 10rem 10.19rem 1.25rem 10.19rem;
}

.A_BodyText {
  font-family: 'Inter-Regular';
  font-size: 1.125rem;
  color: var(--black);
  line-height: normal;
  letter-spacing: 0.012rem;
}

.A_BodyTextWhite {
  font-family: 'Inter-Regular';
  font-size: 1.125rem;
  color: var(--white);
  letter-spacing: 0.012rem;
  line-height: normal;
}

.A_BodyTextItalic {
  font-family: 'Inter-Regular';
  font-style: italic;
  font-size: 1.125rem;
  color: var(--black);
  letter-spacing: 0.012rem;
  line-height: normal;
}

.A_TextAnnotation {
  font-family: 'Inter-Regular';
  font-style: italic;
  color: var(--text);
  font-size: 1.125rem;
  line-height: 1.25rem;
  letter-spacing: 0.01125rem;
}

.A_BodyTextBold {
  font-family: 'Inter-SemiBold';
  font-size: 1.125rem;
  color: var(--black);
  line-height: normal;
  letter-spacing: 0.012rem;
}

.A_TextButton {
  font-family: 'Inter-SemiBold';
  font-size: 1.125rem;
  letter-spacing: 1%;
  line-height: 1.2rem;
}

.A_Button {
  padding: 16px 32px;
  width: fit-content;
  border-radius: 6px;

  &:hover {
    .A_TextButton {
      text-decoration: none;
    }
  }
}
.A_ButtonSmall {
  display: inline-flex;
  padding: 0.625rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--white);
  border-radius: 0.375rem;
  color: var(--black, #1a1a1a);
  font-family: 'Inter-SemiBold';
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  &:hover {
    background-color: var(--yellow);
  }
}
.A_FactText {
  font-family: 'Inter-Regular';
  font-size: 1.125rem;
  text-align: center;
  color: var(--white);
  letter-spacing: 1%;
}

.A_FactNumber {
  font-family: 'Benzin-Bold', sans-serif;
  font-size: 4.6rem;
  text-transform: uppercase;
  color: var(--yellow);
  text-align: center;
}

.A_Tag {
  font-family: 'Inter-Regular';
  font-size: 0.9rem;
  text-align: center;
  width: fit-content;
  padding: 6px 24px;
  border-radius: 0.18rem;
  letter-spacing: 0.0075rem;
}

.A_TagLarge {
  font-family: 'Inter-Regular';
  font-size: 1.1rem;
  text-align: center;
  width: fit-content;
  padding: 8px 24px;
  border-radius: 5px;
  letter-spacing: 0.012rem;
}
.A_BurgerMenu {
  display: none;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background: none !important;
}
.A_LogoYellow {
  width: 9.5rem;
  height: 1.2rem;
  background-image: url(../../images/logoYellow.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.A_LogoBlack {
  width: 9.5rem;
  height: 1.2rem;
  background-image: url(../../images/logoDark.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.A_HseLogo {
  width: 8rem;
  height: 4rem;
  background-image: url(../../images/components/02_Atoms/HSE_logo.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.A_SocialNetworks {
  width: 2rem;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.tg {
  background-image: url(../../images/components/02_Atoms/tg.webp);
}
.vk {
  background-image: url(../../images/components/02_Atoms/vk.webp);
}
.A_Icons {
  border-radius: 10px 0;
  width: 40px;
}

.A_Numbers {
  font-family: 'Siegra';
  font-size: 1.2rem;
  letter-spacing: 1%;
  width: 40px;
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 1px 0 0;
  border-radius: 10px 0;
}

.A_Input {
  width: 390px;
  padding: 12.5px;
  border: solid 1.5px var(--black);
  border-radius: 6px;
  background-color: var(--white);
}

.A_Search {
  width: 25px;
  height: 25px;
}
/*start*/

.A_ImgAbout {
  width: 50%;
}

.A_LevelIcon {
  width: 1.6rem;
  height: 1.4rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.A_LevelIconEasy {
  background-image: url(../../images/components/02_Atoms/A_LevelIconEasy.svg);
}
.A_LevelIconMid {
  background-image: url(../../images/components/02_Atoms/A_LevelIconMid.svg);
}
.A_LevelIconHard {
  background-image: url(../../images/components/02_Atoms/A_LevelIconHard.svg);
}
.A_LevelIconEasyBlack {
  background-image: url(../../images/components/02_Atoms/A_LevelIconEasyBlack.svg);
}
.A_LevelIconMidBlack {
  background-image: url(../../images/components/02_Atoms/A_LevelIconMidBlack.svg);
}
.A_LevelIconHardBlack {
  background-image: url(../../images/components/02_Atoms/A_LevelIconHardBlack.svg);
}
.A_FilterTag {
  display: inline-flex;
  padding: 0.875rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.375rem;
  border: 1px solid var(--grey, #6d6d6d);
  width: fit-content;
  color: var(--grey);
  font-size: 1.125rem;
  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: 600;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  cursor: url(../../images/components/02_Atoms/pointer.svg) 1 1, pointer;

  &.active {
    background-color: var(--grey);
    color: var(--yellow);
  }
  &:hover {
    background-color: var(--grey);
    color: var(--yellow);
  }
}
.A_ArrowYellow {
  opacity: 0;
  visibility: hidden;
  width: 1.8rem;
  height: 1.8rem;
  background-image: url(../../images/components/02_Atoms/arrow-yellow.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out;

  svg {
    path {
      fill: var(--yellow);
    }
  }
}
.A_ArticleCardPhoto {
  width: 100%;
}
.A_IconTimer {
  width: 1rem;
  height: 1.2rem;
}
.A_IconCover {
  width: 7%;
  height: 6rem;
  margin-left: 3.125rem;
  margin-top: -3.125rem;
  background-color: var(--yellow);
  border-radius: 1.125rem 0;
}
.A_IconCoverSkate {
  background-image: url(../../images/components/02_Atoms/A_IconCoverSkate.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.A_IconCoverLocation {
  background-image: url(../../images/components/02_Atoms/A_IconCoverLocation.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.A_IconCoverFile {
  background-image: url(../../images/components/02_Atoms/A_IconCoverFile.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.A_IconCoverSmile {
  background-image: url(../../images/components/02_Atoms/A_IconCoverSmile.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.A_SpotOnePhoto {
  width: 48%;
}

.A_SpotsBigPhoto {
  padding: 0 163px;
  margin-top: 80px;
  width: 100%;
}

.A_SectionsBottomText {
  padding: 0 50px 120px 50px;
  text-align: center;
}
.A_ErrorText {
  font-family: 'Siegra';
  font-size: 140px;
  color: var(--midgrey);
}
.A_Arrow {
  width: 2.5rem;
  height: 2.5rem;
  background-image: url('../../images/components/02_Atoms/A_Arrow.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 80vh;
  left: 49%;
  display: none;
  opacity: 1; /* Default opacity */
  pointer-events: auto;
  transition: opacity 0.3s ease;
}
.A_TestCoverImageMobile {
  display: none;
  width: calc(100% - 3.76rem);
  margin: 1.88rem 1.25rem 1rem 1.25rem;
}

.A_YellowBorder {
  width: 3.2rem;
  height: 9.25rem;
  border-radius: 1.875rem 0rem;
  background: var(--yellow, #f1fd53);
}

.A_TipsPhoto {
  width: 41.25rem;
  margin: 0 auto 3.12rem auto;
  display: flex;
}

.A_MusicIcon {
  width: 3rem;
}

.A_AlbumCover {
  width: 5.81rem;
}

@media screen and (max-width: 500px) {
  .A_Header0 {
    font-size: 2.6rem;
  }

  .A_Header1 {
    font-size: 1.75rem;
    text-align: left;
  }

  .A_Header2 {
    font-size: 1.75rem;
    line-height: 2.0125rem;
    letter-spacing: 0.0525rem;
  }

  .A_Header3 {
    font-size: 1.125rem;
    line-height: 1.29375rem;
    letter-spacing: 0.0225rem;
  }

  .A_HeaderCards {
    font-size: 2.1rem;
  }

  .A_BodyText {
    font-size: 1rem;
    line-height: 1.1875rem;
    letter-spacing: 0.01rem;
  }

  .A_FactText {
    font-size: 1rem;
  }

  .A_FactNumber {
    font-size: 4.6rem;
  }

  .A_Tag {
    font-size: 0.78rem;
    padding: 0.3125rem 1.25rem;
  }

  .A_Button {
    width: 100%;
  }

  .A_Input {
    width: 100%;
  }

  .A_IconCover {
    width: 6rem;
    height: 6rem;
    margin-left: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(50%);
  }

  .A_FilterTag {
    font-size: 1rem;
    padding: 0.625rem 1.5rem;
  }

  .A_HeaderCards {
    font-size: 1.75rem;
    word-break: break-word;
    hyphens: auto;
  }

  .A_SectionsBottomText {
    font-size: 1.25rem;
    line-height: 1.4375rem;
  }
  .A_LogoYellow {
    width: 7rem;
  }
  .A_BurgerMenu {
    display: block;
  }
  .A_HseLogo {
    width: 6rem;
    height: 6rem;
  }

  .A_Arrow {
    display: block; /* Make the arrow visible on smaller screens */
  }
  /* Hidden class for hiding the arrow on scroll down */
  .A_Arrow.hidden {
    opacity: 0;
    pointer-events: none;
  }

  .A_HeaderTest {
    margin: 1.88rem 1.25rem 1rem 1.25rem;
  }

  .A_TestCoverImageMobile {
    display: block;
  }

  .A_TextAnnotation {
    font-size: 0.75rem;
    line-height: 0.8625rem;
    letter-spacing: 0.0075rem;
  }

  .A_YellowBorder {
    height: 6rem;
  }

  .A_Numbers {
    padding: 0.35156rem;
    min-width: 1.8rem;
    height: 1.8rem;
    border-radius: 0.39063rem 0rem;
  }

  .A_TipsPhoto {
    margin-inline: 1.25rem;
    width: calc(100% - 2.5rem);
  }

  .A_ImgAbout {
    width: calc(50% - 0.31rem);
  }

  .A_SpotsBigPhoto {
    margin-top: 1.88rem;
    padding: 0 1.25rem;
    width: 100%;
  }
}
