/*
ATOMS
_________________________________________________________________________________________
*/

.A_Header0 {
  font-family: 'Benzin-Bold', sans-serif;
  font-size: 8rem;
  text-transform: uppercase;
  color: var(--black);
  letter-spacing: 2%;
  line-height: normal;
}

.A_Header1 {
  font-family: 'Benzin-Bold', sans-serif;
  font-size: 4.6rem;
  text-transform: uppercase;
  color: var(--black);
  letter-spacing: 3%;
  line-height: normal;
}

.A_Header2 {
  font-family: 'Benzin-Bold', sans-serif;
  font-size: 1.9rem;
  text-transform: uppercase;
  color: var(--black);
  letter-spacing: 3%;
  line-height: 2.3rem;
}

.A_Quote {
  font-family: 'Benzin-Bold', sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 3%;
  line-height: 2.1rem;
  width: 55%;
  margin-left: 8%;
}

.A_Header3 {
  font-family: 'Benzin-Bold', sans-serif;
  font-size: 1.5rem;
  color: var(--black);
  letter-spacing: 3%;
  line-height: 1.6rem;
}

.A_HeaderCards {
  font-family: 'Benzin-Bold', sans-serif;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: var(--black);
  letter-spacing: 3%;
  line-height: 1.8rem;
}

.A_BodyText {
  font-family: 'Inter-Regular';
  font-size: 1.125rem;
  color: var(--black);
  letter-spacing: 1%;
  line-height: normal;
}

.A_BodyTextItalic {
  font-family: 'Inter-Regular';
  font-style: italic;
  font-size: 1.125rem;
  color: var(--black);
  letter-spacing: 1%;
  line-height: normal;
}

.A_TextButton {
  font-family: 'Inter-SemiBold';
  font-size: 1.125rem;
  letter-spacing: 1%;
  line-height: 1.2rem;
}

.A_Button {
  padding: 16px 32px;
  width: fit-content;
  border-radius: 6px;

  &:hover {
    opacity: 70%;

    .A_TextButton {
      text-decoration: none;
    }
  }
}

.A_FactText {
  font-family: 'Inter-Regular';
  font-size: 1.125rem;
  text-align: center;
  color: var(--white);
  letter-spacing: 1%;
}

.A_FactNumber {
  font-family: 'Benzin-Bold', sans-serif;
  font-size: 4.6rem;
  text-transform: uppercase;
  color: var(--yellow);
  text-align: center;
}

.A_Tag {
  font-family: 'Inter-Regular';
  font-size: 1.125rem;
  text-align: center;
  width: fit-content;
  padding: 8px 17px;
  border-radius: 10px 0;
  letter-spacing: 1%;
}

.A_Logo {
  width: 150px;
  height: fit-content;
}

.A_HseLogo {
  width: 140px;
  height: fit-content;
}

.A_SocialNetworks {
  width: 40px;
}

.A_Icons {
  border-radius: 10px 0;
  width: 40px;
}

.A_Numbers {
  font-family: 'Siegra';
  font-size: 1.2rem;
  letter-spacing: 1%;
  width: 40px;
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 1px 0 0;
  border-radius: 10px 0;
}

.A_Input {
  width: 390px;
  padding: 12.5px;
  border: solid 1.5px var(--black);
  border-radius: 6px;
  background-color: var(--white);
}

.A_Search {
  width: 25px;
  height: 25px;
}

.A_LevelIconMid {
  background-image: url('../images/components/02_Atoms/A_LevelIconMid.webp');
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center;
}

@media screen and (max-width: 500px) {
  .A_Header0 {
    font-size: 5.5rem;
  }

  .A_Header1 {
    font-size: 4.6rem;
    text-align: left;
  }

  .A_HeaderCards {
    font-size: 2.1rem;
  }

  .A_BodyText {
    font-size: 1rem;
  }

  .A_FactText {
    font-size: 1rem;
  }

  .A_FactNumber {
    font-size: 4.6rem;
  }

  .A_Tag {
    font-size: 0.625rem;
    padding: 8px 10px;
  }

  .A_Button {
    width: 100%;
  }

  .A_Input {
    width: 100%;
  }
}
