/*
MOLECULES
_________________________________________________________________________________________
*/

.M_HeaderText {
  width: 35vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.M_ButtonArrow {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;

  .A_TextButton {
    color: var(--grey);
  }

  &:hover {
    .A_TextButton {
      color: var(--black);
    }

    svg {
      path {
        fill: var(--black);
      }
    }
  }
}

.M_Fact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 31%;
}

.M_TricksHeaderColumn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.M_TricksTextWithHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.M_MailInput {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.M_HeaderWithIcon {
  display: flex;
  gap: 20px;
  align-items: center;
}

.M_ItalicText {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 34.375rem;

  h3 {
    color: var(--yellow);
  }
}

.M_LocationCardHeader {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;

  h4 {
    color: var(--yellow);
  }

  p {
    color: var(--white);
  }
}

.M_ListedParagraph {
  display: flex;
  gap: 20px;
}
.M_ArticleCardData {
  padding: 1.2rem 1.8rem;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.M_ArticleHeaderWithDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  height: 50%;
  gap: 0.2rem;
  overflow: hidden;
}
.M_ArticleCardTags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.M_Time {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  align-items: center;
}
.M_TrickTags {
  display: flex;
  height: 1.5rem;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  gap: 0.3125rem;
}
.M_TrickTagsYellow {
  display: flex;
  width: fit-content;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  gap: 0.3125rem;
  background-color: var(--yellow);
  padding: 6px 24px;
  border-radius: 0.18rem;
}
.M_BannerTextWithButton {
  display: flex;
  width: 55%;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
.M_MetroInfoArrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.M_FunHeaderArrow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  .A_HeaderCards {
    width: 70%;
  }
}
.M_HeaderPlusTag {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.M_HeaderWithTag {
  display: flex;
  flex-direction: row;
  padding: 0 50px;
  align-items: flex-start;
  gap: 14%;
  margin-top: 3.75rem;
  .A_Header1 {
    color: var(--black);
  }
  .A_Tag {
    height: fit-content;
  }
}
.M_SlangsTextWithHeader {
  display: flex;
  flex-direction: column;
  gap: 10px;
  display: flex;
  width: 41.25rem;
  padding: 0.1875rem 0rem;
  flex-direction: column;
  align-items: flex-start;
}
.M_FilmListedDescrip {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.M_SpotsCover {
  position: relative;
  width: 100%;
  padding: 0 163px 60px 163px;
  display: flex;
  height: 75vh;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 15px;
}

.M_SpotsCover > * {
  z-index: 2;
}
.M_MobileLogoMenu {
  display: none;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 500px) {
  .M_MobileLogoMenu {
    display: flex;
  }
  .M_TricksTextWithHeader {
    flex-direction: column;
    gap: 1rem;
    .C_ListedParagrapgh {
      width: 100%;
    }
    .Q_HeaderWidth {
      width: 100%;
    }
    .A_BodyText {
      width: 100%;
    }
  }
  .M_Fact {
    width: 100%;
  }
  .M_HeaderWithTag {
    flex-direction: column;
    padding: 2rem 1.25rem 0 1.25rem;
    gap: 1.8rem;
  }
  .M_SlangsTextWithHeader {
    width: 100%;
  }
  .M_BannerTextWithButton {
    width: 100%;
  }
  .O_Form {
    padding: 0 10vw;
  }
  .M_HeaderText {
    width: 100%;
  }
}

.M_TextButton {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.M_QuestionHeader {
  display: flex;
  justify-content: space-between;
}

.M_AnswerCard {
  display: flex;
  min-width: 25rem;
  min-height: 7.75rem;
  padding: 2rem 1.75rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;
  flex: 1 0 0;
  border-radius: 0.625rem;
  border: 2px solid var(--white);
  color: var(--white);
  cursor: url(../../images/components/02_Atoms/pointer.svg) 1 1, pointer;

  &:hover {
    color: var(--yellow);
    border-color: var(--yellow);
  }

  &:active {
    background-color: var(--yellow);
    color: var(--black);
  }
}

.M_Annotation {
  display: flex;
  width: 41.25rem;
  align-items: center;
  gap: 1.4375rem;
  margin: 5rem auto;
}

.TipsListedParagraph {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 500px) {
  .M_TextButton {
    gap: 1.88rem;
  }

  .M_QuestionHeader {
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .M_AnswerCard {
    display: flex;
    width: 100%;
    height: fit-content;
    min-height: auto;
    min-width: 0;
    padding: 0.9375rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
  }

  .M_Annotation {
    margin: 1.5rem 1.88rem;
    width: calc(100% - 3.76rem);
  }

  .M_SpotsCover {
    padding-inline: 1.25rem;
  }

  .M_ItalicText {
    gap: 0.8rem;
    width: 100%;
    padding-top: 11.25rem;
  }
}
