/*
WRAPPERS
_________________________________________________________________________________________
*/

.W_HeaderButtonMore {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.W_BannerQuote {
  display: flex;
  align-items: center;
  border-radius: 1.25rem;
  padding: 5rem 5rem;
  justify-content: center;
  .A_Header2 {
    color: var(--white);
    text-align: center;
    width: 80%;
  }
}

.W_BannerNumbers {
  display: flex;
  align-items: center;
  background-color: var(--black);
  height: 30vh;
  border-radius: 1.25rem;
}

.W_BannerQuestion {
  display: flex;
  align-items: center;
  height: 40vh;
  padding-left: 8%;

  p {
    color: var(--white);
  }
}

.W_BannerSkateboards {
  width: 70rem;
  display: flex;
  align-items: center;
  height: fit-content;
  justify-content: center;
  padding: 60px 200px;

  p {
    color: var(--white);
  }
}

.W_BannerCTA {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 30vh;
  padding-left: 8%;
  gap: 15px;

  h2 {
    color: var(--white);
    width: 55%;
  }
}

.W_LocationMainHeader {
  margin: 0 30px;
  height: 80vh;
  display: flex;
  align-items: flex-end;
  border-radius: 50px 0;

  .M_TricksHeaderColumn {
    margin: 0 0 4% 8%;
    h1 {
      color: var(--white);
    }
  }
}

.W_Menu {
  display: flex;
  align-items: center;
  gap: 6.25rem;
  width: fit-content;
}

.W_LocationCardInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.W_LocationTextWithHeader {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 35%;
  .A_BodyText {
    color: var(--text);
  }
}

.W_FooterMenuLogo {
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
}

.W_HseAuthors {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
/*start*/
.W_SectionCover {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.W_HeaderWithFilter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3.125rem 2rem 3.125rem;
}
.W_TrickTagsName {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.3125rem;
  padding-bottom: 2.5rem;
}
.W_AddressInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.W_MetroInfo {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
}

.W_Form {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  input {
    padding: 1rem 2rem;
    border-radius: 0.5vw;
    border: none;
  }

  input:focus {
    border: none;
    outline: none;
  }

  #email {
    background-color: var(--white);
    color: var(--black);
    width: 72%;
    border-radius: 0.375rem;
    border-bottom: 2px solid var(--black);
  }

  #email:focus {
    border: none;
    border-bottom: 2px solid var(--yellow);
  }

  #button {
    background-color: var(--black);
  }

  #button:hover {
    color: var(--white);
  }
}

.W_TricksMainHeader {
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0rem 10.1875rem;
  .A_Header1 {
    color: var(--black);
  }
}
.W_TricksSection1 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 3.37rem 10rem 0 10rem;
}
.W_TricksSection2 {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  padding: 5rem 10rem 0 10rem;
}
.W_TricksSection3 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 3.75rem 10rem 0 10rem;
}
.W_TricksSection4 {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  padding: 5rem 10rem 0 10rem;
}
.W_SlangsSection1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 50px 0 50px;
}
.W_SlangsSection2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 50px 0 50px;
  .C_ListedParagrapgh {
    width: 41.25rem;
  }
}
.W_SlangsSection3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 50px 0 50px;
  gap: 3rem;
  .A_BodyText {
    width: 41.25rem;
  }
  .C_ListedParagrapgh {
    width: 41.25rem;
    .A_BodyText {
      width: 100%;
    }
  }
}
