/*
WRAPPERS
_________________________________________________________________________________________
*/

.W_HeaderButtonMore {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.W_BannerQuote {
  display: flex;
  align-items: center;
  border-radius: 1.25rem;
  padding: 5rem 5rem;
  justify-content: center;
  .A_Header2 {
    color: var(--white);
    text-align: center;
    width: 80%;
  }
}

.W_BannerAdress {
  padding: 88px 163px;
}

.W_BannerNumbers {
  display: flex;
  align-items: center;
  background-color: var(--black);
  height: 30vh;
  border-radius: 1.25rem;
}

.W_BannerQuestion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  padding: 44px 80px;
  margin: 80px 163px 0 163px;
  border-radius: 20px;
  width: auto;
  background-color: var(--black);

  p {
    color: var(--white);
  }

  img {
    width: 32%;
  }
}

.W_BannerSkateboards {
  width: 80%;
  display: flex;
  align-items: center;
  height: fit-content;
  justify-content: center;
  padding: 6% 10%;

  p {
    color: var(--white);
  }
}

.W_BannerCTA {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 30vh;
  padding-left: 8%;
  gap: 15px;

  h2 {
    color: var(--white);
    width: 55%;
  }
}

.W_LocationMainHeader {
  margin: 0 30px;
  height: 80vh;
  display: flex;
  align-items: flex-end;
  border-radius: 50px 0;

  .M_TricksHeaderColumn {
    margin: 0 0 4% 8%;
    h1 {
      color: var(--white);
    }
  }
}

.W_Menu {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.W_LocationCardInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.W_LocationTextWithHeader {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 45%;
  .A_BodyText {
    color: var(--text);
  }
}

.W_FooterMenuLogo {
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
}

.W_HseAuthors {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
/*start*/
.W_SectionCover {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.W_HeaderWithFilter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3.125rem 2rem 3.125rem;
}
.W_TrickTagsName {
  margin-top: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.3125rem;
  padding-bottom: 2.5rem;
}
.W_AddressInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.W_MetroInfo {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.62rem;
}

.W_Form {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  input {
    padding: 1rem 2rem;
    border-radius: 0.5vw;
    border: none;
  }

  input:focus {
    border: none;
    outline: none;
  }

  #email {
    background-color: var(--white);
    color: var(--black);
    width: 72%;
    border-radius: 0.375rem;
    border-bottom: 2px solid var(--black);
  }

  #email:focus {
    border: none;
    border-bottom: 2px solid var(--yellow);
  }

  #button:hover {
    color: var(--white);
  }
}

.W_TricksMainHeader {
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0rem 10.1875rem;
  .A_Header1 {
    color: var(--black);
  }
}
.W_TricksSection1 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 3.37rem 10rem 0 10rem;
}
.W_TricksSection2 {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  padding: 5rem 10rem 0 10rem;
}
.W_TricksSection3 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 3.75rem 10rem 0 10rem;
}
.W_TricksSection4 {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  padding: 5rem 10rem 0 10rem;
}
.W_SlangsSection1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 50px 0 50px;
}
.W_SlangsSection2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 50px 0 50px;
  .C_ListedParagrapgh {
    width: 41.25rem;
  }
}
.W_SlangsSection3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 50px 0 50px;
  gap: 3rem;
  .A_BodyText {
    width: 41.25rem;
  }
  .C_ListedParagrapgh {
    width: 41.25rem;
    .A_BodyText {
      width: 100%;
    }
  }
}
.W_FilmDescripWithHeader {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.W_SpotsBottomText {
  padding: 0 163px;
  margin-top: 49px;
  width: 70vw;
}
.W_MobileMenu {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  gap: 20vh;
  padding: 20vh 0;
  height: 100vh;
}
.W_MenuTg {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: center;
}
.W_ErrorHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.W_TextButtonImg {
  margin: 0 10.19rem 5rem 10.19rem;
  display: flex;
  justify-content: space-between;
  gap: 6.63rem;
  align-items: center;

  img {
    width: 18.5rem;
  }
}

.W_TestResult {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.W_TestResultText {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.W_ResultHeader {
  display: flex;
  flex-direction: column;
}

.W_ListItem {
  display: flex;
  width: 41.25rem;
  gap: 1.4375rem;
  margin: 0 auto 1.88rem auto;

  .A_Numbers {
    margin-top: 0.25rem;
  }
}

.W_TipsLinkTest {
  display: flex;
  width: 41.25rem;
  gap: 1.6rem;
  margin: 3.12rem auto 1.88rem auto;
  justify-content: center;

  .TipsListedParagraph {
    gap: 1.4rem;
  }

  a {
    width: 100%;
  }
}

.W_MusicLinks {
  width: 41.25rem;
  margin: 2.5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 1380px) and (min-width: 501px) {
  .W_TrickTagsName {
    margin-top: 20%;
    gap: 1rem;
  }

  .W_TextButtonImg {
    margin: 1rem 1.25rem 1.88rem 1.25rem;

    img {
      display: none;
    }
  }

  /*.W_ListItem {
    margin-inline: 1.25rem;
    width: calc(100% - 2.5rem);
    gap: 0.62rem;
  }*/

  .W_TipsLinkTest {
    margin-inline: 1.25rem;
    width: calc(100% - 2.5rem);
  }

  .W_BannerAdress {
    padding: 2.5rem 1.25rem;
  }

  .W_BannerQuestion {
    margin: 2.5rem 1.25rem;
    padding: 1.88rem;
    flex-direction: column-reverse;
    gap: 2.5rem;

    img {
      width: 100%;
    }
  }

  .W_SpotsBottomText {
    padding: 0 1.25rem;
    width: 100%;
    margin-top: 1.88rem;
  }
  .W_Menu {
    display: flex;
  }
}
@media screen and (max-width: 500px) {
  .W_SectionCover {
    width: 100%;
    height: 40vh; /* Высота 40% от высоты окна */
    display: flex;
    flex-direction: column;
    position: relative; /* Для использования абсолютного позиционирования */
  }

  .W_HeaderWithFilter {
    padding: 80px 20px 30px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .W_Menu {
    display: none;
  }
  .W_TricksMainHeader {
    height: 80vh;
    padding: 4rem 3.2rem;
    justify-content: flex-end;
    background-position: -60rem;
    .M_HeaderPlusTag {
      gap: 1rem;
    }
    .A_Header1 {
      font-size: 2.6rem;
    }
  }
  .W_TricksSection1,
  .W_TricksSection2,
  .W_TricksSection3,
  .W_TricksSection4,
  .W_SlangsSection1,
  .W_SlangsSection2,
  .W_SlangsSection3 {
    flex-direction: column;
    padding: 2rem 1.25rem 0 1.25rem;
    gap: 1.8rem;
    .Q_BodyTextWidth {
      width: 100%;
    }
    .C_ListedParagrapgh {
      width: 100%;
    }
    div.C_ListedParagrapgh + p {
      width: 100%;
    }
  }
  .W_BannerQuote {
    padding: 1.8rem 1.25rem;
    .A_Header2 {
      font-size: 1.2rem;
      line-height: 120%;
    }
  }
  .W_BannerNumbers {
    flex-direction: column;
    height: auto;
  }
  .W_BannerSkateboards {
    width: 100%;
  }
  .W_FooterMenuLogo {
    flex-direction: column;
    gap: 2rem;
  }
  .W_TrickTagsName {
    margin-top: 10%;
  }
  .W_Form {
    flex-direction: column;
    width: 100%;
    #email {
      width: 100%;
    }
  }
  .W_TextButtonImg {
    margin: 1rem 1.25rem 1.88rem 1.25rem;

    img {
      display: none;
    }
  }

  .W_ListItem {
    margin-inline: 1.25rem;
    width: calc(100% - 2.5rem);
    gap: 0.62rem;
  }

  .W_TipsLinkTest {
    margin-inline: 1.25rem;
    width: calc(100% - 2.5rem);
  }

  .W_BannerAdress {
    padding: 2.5rem 1.25rem;
  }

  .W_BannerQuestion {
    margin: 2.5rem 1.25rem;
    padding: 1.88rem;
    flex-direction: column-reverse;
    gap: 2.5rem;

    img {
      width: 100%;
    }
  }

  .W_SpotsBottomText {
    padding: 0 1.25rem;
    width: 100%;
    margin-top: 1.88rem;
  }
}
@media only screen and (max-width: 1380px) and (min-width: 501px) {
  .W_TrickTagsName {
    margin-top: 20%;
    gap: 1rem;
  }
}
