/*
COLLECTIONS
_________________________________________________________________________________________
*/

.C_Tags {
  display: flex;
  gap: 10px;
}

.C_Facts {
  display: flex;
  justify-content: space-between;
  margin: 0 8%;
}

.C_TwoPhoto {
  display: flex;
  width: 35vw;
  gap: 20px;
}

.C_HeaderMenuSections {
  display: flex;
  flex-direction: row;
  gap: 30px;

  *:hover {
    text-decoration: underline 2px;
  }
}

.C_HeaderMenuSectionsFooter {
  display: flex;
  flex-direction: row;
  gap: 30px;

  * {
    color: var(--white);
  }

  *:hover {
    text-decoration: underline 2px;
  }
}

.C_TricksPhotos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.C_Social {
  height: 2rem;
  display: flex;
  gap: 20px;
}

.C_ListedParagrapgh {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  gap: 20px;
}

.C_Cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 1.25rem;
  row-gap: 1.88rem;
}

.C_Authors {
  display: flex;
  justify-content: flex-start;
  gap: 30px;

  p {
    color: var(--white);
  }
}
/*start*/
.C_FilterTags {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.C_Films {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  padding: 5rem 20% 0 20%;
}

.C_AnswerCards {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1.25rem 1.875rem;
  align-self: stretch;
  flex-wrap: wrap;
}

.C_Buttons {
  display: flex;
  gap: 0.62rem;
}

.C_ResultScore {
  display: flex;
}

.C_MusicIcons {
  display: flex;
  gap: 0.69rem;
}

.C_SongTextHead {
  display: flex;
  padding: 5rem 3.12rem 0 24.12rem;
}

.C_SongText {
  display: flex;
  padding: 0;
}

.C_Music {
  display: flex;
  flex-direction: column;
}

.C_Music .O_Song:nth-child(odd) {
  background-color: var(--white);
}

.C_Music .O_Song:nth-child(even) {
  background-color: var(--lightgrey);
}

.C_Music .O_Song:nth-child(even) .Q_BgGrey {
  background-color: var(--black);
  color: var(--yellow);
}

@media screen and (max-width: 500px) {
  .C_FilterTags {
    flex-wrap: wrap;
  }

  .C_AnswerCards {
    flex-direction: column;
    gap: 0.625rem;
  }

  .C_Buttons {
    flex-direction: column;
  }

  .C_TwoPhoto {
    gap: 0.62rem;
    width: calc(100% - 2.5rem);
  }
}
