/*
COLLECTIONS
_________________________________________________________________________________________
*/

.C_Tags {
  display: flex;
}

.C_Facts {
  display: flex;
  gap: 80px;
  margin: 0 8%;
}

.C_TwoPhoto {
  display: flex;
  width: 35vw;
  gap: 20px;
}

.C_HeaderMenuSections {
  display: flex;
  flex-direction: row;
  gap: 30px;

  *:hover {
    text-decoration: underline 2px;
    cursor: pointer;
  }
}

.C_HeaderMenuSectionsFooter {
  display: flex;
  flex-direction: row;
  gap: 30px;

  * {
    color: var(--white);
  }

  *:hover {
    text-decoration: underline 2px;
    cursor: pointer;
  }
}

.C_TricksPhotos {
  width: 100%;
  display: flex;
  gap: 20px;
}

.C_Social {
  height: 2rem;
  display: flex;
  gap: 20px;
}

.C_ListedParagrapgh {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  gap: 20px;
}

.C_Cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.8rem;
}

.C_Authors {
  display: flex;
  justify-content: flex-start;
  gap: 30px;

  p {
    color: var(--white);
  }
}
/*start*/
.C_FilterTags {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
