/*
ORGANISMS
_________________________________________________________________________________________
*/

.O_Header {
  position: sticky;
  background-color: var(--black);
  display: flex;
  width: 100%;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 3.125rem;
  .W_Menu {
    .C_HeaderMenuSections {
      .A_TextButton {
        color: var(--white);
        &:hover {
          text-decoration-line: underline;
          text-decoration-style: solid;
          text-decoration-skip-ink: auto;
          text-decoration-color: var(--yellow);
        }
      }
    }
  }
}

.O_TrickCard {
  width: 31.5%;
  min-height: 32vh;
  background-color: var(--black);
  flex-direction: column;
  padding: 2rem 1.88rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.8rem;
  border-radius: 50px 0;

  .M_TrickTags {
    .A_BodyText {
      color: var(--yellow);
    }
  }

  .A_HeaderCards {
    color: var(--white);
  }
  &:hover {
    .grey {
      color: var(--grey);
    }
  }
}
.O_SmallBanner {
  width: 80%;
  min-height: 16.25rem;
  margin-left: 10%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  padding: 2.75rem 5rem;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--black);
  border-radius: 1.25rem;

  .M_BannerTextWithButton {
    .A_HeaderCards {
      color: var(--white);
    }
  }
}
.O_LocationCard {
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  border-radius: 50px 0;
  overflow: hidden;
  padding: 1.88rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: flex-end;
  text-align: left;
  .A_BodyText {
    color: var(--white);
  }
  .A_HeaderCards {
    color: var(--white);
  }

  &:hover {
    .A_ArrowYellow {
      display: block;
    }
  }
}
.O_Mid {
  width: 48.5%;
}
.O_Big {
  width: 100%;
}
.O_Small {
  width: 31.5%;
}
.O_FunCard {
  width: 31%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;

  .A_HeaderCards {
    color: var(--white);
  }
}

.O_TestCard {
  width: 31%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  border-radius: 50px 0;
  overflow: hidden;
  background-color: var(--white);
  border: solid 1.5px var(--black);

  img {
    border-radius: 40px 0;
  }
}

.O_FooterMenuLogoSocial {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
