/*
ORGANISMS
_________________________________________________________________________________________
*/

.O_Header {
  position: fixed;
  top: 0;
  right: 12px;
  background-color: var(--black);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 3.125rem;
  z-index: 1000;
  flex-direction: column;
  overflow: hidden;
  .W_Menu {
    .O_Search {
      display: flex;
      gap: 10px;
      height: 36px;

      .A_SearchInput {
        padding: 0.625rem 0;
        width: 250px;
        border-bottom: 2px solid var(--white);
        background-color: var(--black);
        color: var(--white);

        &:focus {
          border-bottom: 2px solid var(--yellow);
        }
      }

      .A_SearchButton {
        padding: 0.625rem 1.5rem;
        background-color: var(--white);
        border-radius: 0.375rem;
        font-family: 'Inter-SemiBold';
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        cursor: url(../../images/components/02_Atoms/pointer.svg) 1 1, pointer;

        &:hover {
          background-color: var(--yellow);
        }
      }
    }
    .A_ButtonSmall {
      position: relative; /* Add this line */
      display: inline-block; /* Ensures proper sizing */
      color: black;
      background-color: white;
      overflow: hidden; /* Ensures ::before stays within bounds */
      transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
      &::before {
        content: 'Гоу с нами!';
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: -100%; /* Start position (hidden) */
        width: 100%;
        height: 100%;
        background-color: yellow;
        transition: left 0.5s ease-in-out;
        z-index: -1; /* Puts behind text */
      }
      &:hover {
        color: black; /* Keep text visible */
      }

      &:hover::before {
        left: 0; /* Slide in yellow color */
        z-index: 1;
      }
    }

    .C_HeaderMenuSections {
      .A_TextButton {
        color: var(--white);
        transition: text-decoration-color 0.2s ease-in-out,
          color 0.2s ease-in-out;
        &:hover {
          text-decoration-line: underline;
          text-decoration-style: solid;
          text-decoration-skip-ink: auto;
          text-decoration-color: var(--yellow);
        }
      }
    }
  }
}

.O_TextTwoPhotos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.O_Cards {
  padding: 0 50px 120px;
}

.O_TrickCard {
  width: 31.5%;
  min-height: 32vh;
  background-color: var(--black);
  flex-direction: column;
  padding: 2rem 1.88rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.8rem;
  border-radius: 50px 0;

  .M_TrickTags {
    .A_BodyText {
      color: var(--yellow);
    }
  }

  .A_HeaderCards {
    color: var(--white);
    text-align: left;
  }
  &:hover {
    .grey {
      transition: color 0.2s ease-in-out, color 0.2s ease-in-out;
      color: var(--grey);
    }
  }
}
.O_SmallBanner {
  width: 80%;
  min-height: 16.25rem;
  margin-top: 5rem;
  display: flex;
  padding: 2% 5%;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--black);
  border-radius: 1.25rem;

  .M_BannerTextWithButton {
    .A_HeaderCards {
      color: var(--white);
    }
  }
}
.O_LocationCard {
  height: 21.25rem;
  display: flex;
  flex-direction: column;
  border-radius: 1.875rem 0rem;
  overflow: hidden;
  padding: 1.88rem;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: flex-end;
  text-align: left;
  z-index: 2;
  .A_BodyText {
    color: var(--white);
  }
  .A_HeaderCards {
    color: var(--white);
  }

  &:hover {
    .A_ArrowYellow {
      opacity: 1;
      visibility: visible;
    }
  }
}
.O_Mid {
  width: calc((100% - 1.25rem) / 2);
}
.O_Big {
  width: 100%;
}
.O_Small {
  width: 31.5%;
}
.O_FunCard {
  width: 31.5%;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  border-radius: 50px 0;
  overflow: hidden;
  padding: 1.88rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: flex-end;
  text-align: left;
  gap: 10px;
  .A_HeaderCards {
    color: var(--white);
  }
  &:hover {
    .A_ArrowYellow {
      opacity: 1;
      visibility: visible;
    }
  }
}

.O_ArticleCard {
  min-height: 50vh;
  flex-direction: column;
  border-radius: 50px 0;
  overflow: hidden;
  background-color: var(--midgrey);
  justify-content: flex-start;
  transition: box-shadow 0.4s ease-in-out;
  .A_BodyText {
    color: var(--grey);
    font-style: italic;
  }
  &:hover {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  }
}

.O_FooterMenuLogoSocial {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.O_Form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin: 160px 0;

  .M_HeaderText {
    justify-content: center;
    text-align: center;
    width: 100vw;
  }
}

.O_Link {
  width: fit-content;
}
.O_Film {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}
.O_FilmFooterBanner {
  display: flex;
  justify-content: center;
}
.O_HeaderMobile {
  background-color: red;
  display: none;
  position: sticky;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 3.125rem;
  z-index: 1000;
}

.O_Test {
  margin: 0 10.19rem 7.5rem 10.19rem;
  padding: 4.38rem 5.62rem;
  border-radius: 3rem 0rem;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 4.88rem;
}

.O_Result {
  margin: 0 10.19rem 7.5rem 10.19rem;
  padding: 4.38rem 5.62rem;
  border-radius: 3rem 0rem;
  background-color: var(--black);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3.75rem;

  img {
    width: 35%;
    height: fit-content;
  }
}

@media screen and (max-width: 500px) {
  .O_HeaderMobile {
    display: flex;
  }
}

.O_SpotsTextPhotos {
  display: flex;
  justify-content: space-between;
  padding: 0 163px;
  margin-top: 80px;
  align-items: center;
  gap: 20px;
}

.O_SpotsTexts {
  display: flex;
  justify-content: space-between;
  padding: 0 163px;
  margin-top: 80px;
  align-items: flex-start;
  gap: 20px;
}
.O_Error {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10%;
  flex-direction: column;
  gap: 40px;
  .A_Header1 {
    color: var(--black);
    text-align: center;

    .A_Header1 + .A_BodyText {
      width: 60%;
      text-align: center;
    }
  }
}
.O_Song {
  height: 9.4375rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 1.81rem 2.88rem 1.81rem 13.3rem;
}

@media screen and (max-width: 500px) {
  .O_Cards {
    padding: 0 20px 120px;
  }
  .O_Mid {
    width: 100%;
  }
  .O_Big {
    width: 100%;
  }
  .O_Small {
    width: 100%;
  }
  .O_Test {
    margin: 0 1.25rem 1.88rem 1.25rem;
    padding: 1.88rem 1.25rem;
    border-radius: 1.875rem 0rem;
    gap: 1.25rem;
  }
  .O_Result {
    margin: 0 1.25rem 1.88rem 1.25rem;
    padding: 1.25rem 1.25rem 1.88rem 1.25rem;
    border-radius: 1.875rem 0rem;
    gap: 1.25rem;
    flex-direction: column;

    img {
      width: 100%;
      border-radius: 0.875rem 0 0 0;
    }
  }

  .O_SpotsTextPhotos {
    padding: 0 1.25rem;
    margin-top: 1.88rem;
    gap: 1.88rem;
    flex-direction: column;
    align-items: flex-start;

    & > * {
      width: 100%;
    }

    .C_TwoPhoto {
      order: 3;
    }

    .W_LocationTextWithHeader {
      order: 2;
    }

    .A_SpotOnePhoto {
      order: 3;
    }
  }

  .O_SpotsTexts {
    margin-top: 2.5rem;
    padding: 0 1.25rem;
    flex-direction: column;
    gap: 1.88rem;

    & > * {
      width: 100%;
    }
  }
  .O_SmallBanner {
    margin-top: 40px;
    flex-direction: column-reverse;
    min-height: auto;
    width: 100%;
    padding: 2rem 1.25rem;
    margin-top: 0;
    gap: 2rem;
    .A_ButtonSmall {
      width: 100%;
    }
  }
  .O_Film {
    align-items: center;
    flex-direction: column;
  }
  .O_FilmFooterBanner {
    padding: 4rem 1.25rem 0 1.25rem;
  }
  .O_FunCard {
    width: 100%;
  }
  .O_FooterMenuLogoSocial {
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
  }
  .O_TrickCard {
    width: 100%;
    min-height: auto;
  }
  .O_TextTwoPhotos {
    flex-direction: column;
    gap: 50px;
  }
  .O_LocationCard,
  .O_ArticleCard {
    min-height: 35vh;
  }
  .O_Form {
    .M_HeaderText {
      padding: 0 10vw;
    }
  }
  .O_Error {
    padding: 40% 10%;
    gap: 50px;
    .A_Header1 {
      font-size: 3rem;
    }
    .A_Header1 + .A_BodyText {
      width: 100%;
      text-align: center;
    }
  }
}
@media only screen and (max-width: 1024px) and (min-width: 501px) {
  .O_TrickCard {
    width: 48%;
    min-height: auto;
  }
  .O_ArticleCard,
  .O_LocationCard {
    min-height: 35vh;
  }

  .O_Small,
  .O_Mid,
  .O_FunCard {
    width: 48%;
  }
}
@media only screen and (max-width: 1380px) and (min-width: 1025px) {
  .O_TrickCard {
    min-height: auto;
  }
  .O_ArticleCard {
    min-height: 35vh;
  }
}
