/*
ORGANISMS
_________________________________________________________________________________________
*/

.O_Header {
  background-color: var(--white);
  display: flex;
  width: 100%;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
}

.O_TrickCard {
  width: 31%;
  height: 25vh;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.12rem 1.88rem;

  .A_HeaderCards {
    color: var(--white);
  }
}

.O_LocationCard {
  width: 31%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 50px 0;
  overflow: hidden;
  background-color: var(--black);
  border: solid 1.5px var(--black);
}

.O_FunCard {
  width: 31%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;

  .A_HeaderCards {
    color: var(--white);
  }
}

.O_TestCard {
  width: 31%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  border-radius: 50px 0;
  overflow: hidden;
  background-color: var(--white);
  border: solid 1.5px var(--black);

  img {
    border-radius: 40px 0;
  }
}

.O_FooterMenuLogoSocial {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
