/*
SUPERORGANISMS
_________________________________________________________________________________________
*/

.S_MainCover {
  height: 135vh;
  padding: 20vh 50px 115px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.S_MainSections {
  padding: 50px 50px 0 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.S_FooterWithCards {
  background-color: var(--grey);
  padding: 45px 0 80px 0;
  border-radius: 50px 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .A_Header2 {
    padding-left: 30px;
  }
}

.S_Footer {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.2rem 3rem;
  min-height: 40vh;
  margin-top: 7.5rem;
  .O_FooterMenuLogoSocial {
    .W_FooterMenuLogo {
      .A_TextButton {
        color: var(--white);
        &:hover {
          text-decoration-line: underline;
          text-decoration-style: solid;
          text-decoration-skip-ink: auto;
          text-decoration-color: var(--yellow);
        }
      }
      .A_LogoYellow {
        width: 10rem;
        height: 1.5rem;
      }
    }
  }
}
