/*
SUPERORGANISMS
_________________________________________________________________________________________
*/

.S_MainCover {
  height: 135vh;
  padding: 20vh 50px 115px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.S_MainSections {
  padding: 50px 50px 0 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.S_FooterWithCards {
  background-color: var(--midgrey);
  padding: 45px 0 80px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  margin-top: 7.5rem;
  padding: 3.75rem 3.125rem 5rem 3.125rem;
}

.S_Footer {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.2rem 3rem;
  min-height: 40vh;
  .O_FooterMenuLogoSocial {
    .W_FooterMenuLogo {
      .A_TextButton {
        color: var(--white);
        &:hover {
          text-decoration-line: underline;
          text-decoration-style: solid;
          text-decoration-skip-ink: auto;
          text-decoration-color: var(--yellow);
        }
      }
      .A_LogoYellow {
        width: 10rem;
        height: 1.5rem;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .S_Footer {
    padding: 3rem 2.4rem 2.4rem 2.4rem;
    p {
      font-size: 12px;
    }
  }
  .S_FooterWithCards {
    padding: 2rem 1.25rem 6rem 1.25rem;
  }
}
