body.about {
  .cover {
    background-image: url('../images/about/about_photo.webp');

    h1 {
      font-size: 5.1rem;
    }
    h3 {
      font-size: 6.3rem;
    }
    p {
      color: var(--white);
    }
  }
  .about_one {
    background-color: var(--white);
    background-image: url('../images/main/main_photo2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 40vw;
    display: flex;
    flex-direction: row;
    gap: 10vw;
    padding: 0 3.5vw;
    align-items: center;

    img {
      border-radius: 3vw 0 3vw 0;
    }
    hgroup {
      p {
        width: 70%;
        margin-top: 2vw;
      }
    }
  }
  .about_two {
    width: 100%;
    min-height: 30vw;
    background-color: var(--black);
    background-image: url('../images/about/about_photo2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3.5vw;
    background-position: center;
    hgroup {
      h2 {
        color: var(--yellow);
      }
      p {
        color: var(--white);
        width: 35%;
        margin-top: 2vw;
      }
    }
  }
  .about_three {
    width: 100%;
    min-height: 40vw;
    background-color: var(--grey);
    display: flex;
    flex-direction: row;
    gap: 1vw;
    padding: 0 3.5vw;
    align-items: center;
    justify-content: space-between;

    section {
      display: flex;
      flex-direction: column;
      width: 46%;
      height: 25.5vw;

      p {
        width: 53%;
        margin-top: 2vw;
      }
    }

    img {
      height: auto;
      width: 45.5%;
      border-radius: 3vw 0 3vw 0;
    }
    form {
      margin-top: 4vw;
      display: flex;
      justify-content: space-between;

      input {
        font-size: 1.125rem;
        padding: 1rem 2rem;
        border-radius: 0.5vw;
      }

      #email {
        border: 0.1vw solid var(--black);
        background-color: var(--white);
        color: var(--grey);
        font-family: 'Evolventa-Regular', sans-serif;
        width: 72%;
      }
      #button {
        background-color: var(--black);
        color: var(--yellow);
        font-family: 'Evolventa-Bold', sans-serif;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  body.about {
    .cover {
      h1 {
        font-size: 3rem;
        line-height: 3rem;
      }
      h5 {
        font-size: 2.3rem;
      }
      p {
        width: 80%;
      }
    }
    .about_one {
      flex-direction: column;
      padding: 10vw 10vw;
      hgroup {
        p {
          width: 100%;
        }
      }
      img {
        width: 100%;
      }
    }
    .about_two {
      padding: 10vw 10vw;
      background-position: -70vw;
      hgroup {
        p {
          width: 100%;
        }
      }
    }
    .about_three {
      padding: 10vw 10vw;
      flex-direction: column-reverse;
      form {
        flex-direction: column;
        gap: 4vw;

        #email {
          width: 100%;
        }
      }
      section {
        width: 100%;
        height: auto;
        p {
          width: 100%;
        }
      }
      img {
        width: 100%;
      }
    }
  }
}
