* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}
nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vw auto;
}
nav > a {
  font-size: 32px;
}

body {
  font-family: 'TT Prosto Sans Trial', sans-serif;

  section {
    width: 60vw;
    margin-left: 10vw;
  }
}
h1 {
  font-size: 15.5vw;
  text-transform: uppercase;
  color: var(--red);
  font-weight: 700;
}
h2 {
  font-size: 9.167vw;
  text-transform: uppercase;
  color: var(--blue);
  font-weight: 700;
}
p {
  font-size: 1.25vw;
  color: black;
  font-weight: 400;
}
