* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: var(--white);
}

body {
  font-family: 'TT Prosto Sans Trial', sans-serif;
}
.menu {
  position: sticky;
  width: 100vw;
  height: 6.875vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.472vw;
}
.logo {
  background-image: url('../images/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 11.1vw;
  height: 3.5vw;
}
