* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: var(--white);
}

.yellow {
  color: var(--yellow) !important;
}

.white {
  color: var(--white) !important;
}

.black {
  color: var(--black) !important;
}

.grey {
  color: var(--grey) !important;
}

.hidden {
  display: none !important;
}

.img-animate {
  position: relative;
  overflow: hidden;
}

.img-animate::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s ease-out;
  z-index: 0;
}

.img-animate:hover::before {
  transform: scale(1.06);
}

.img-animate > * {
  position: relative;
  z-index: 2;
}
.highlight {
  color: var(--yellow);
}
ul {
  list-style-type: disc;
  padding-left: 20px;
}
b,
strong {
  font-family: 'Inter-SemiBold';
  font-weight: 600;
}
.disabled {
  background-color: var(--grey) !important;
  cursor: url(../images/components/02_Atoms/default.svg) 1 1, default !important;
}
nav.navMobile {
  width: 90%;
  height: 10vw;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 8vw;
  border-radius: 4vw;
  margin: 5vw;

  img {
    width: 10%;
    height: auto;
  }
  a {
    width: 30%;
    img {
      width: 100%;
    }
  }
}
.none {
  display: none;
}
body {
  h1 {
    font-family: 'Benzin-Bold', sans-serif;
    font-size: 6.4rem;
    text-transform: uppercase;
    color: var(--yellow);
  }
  h2 {
    font-family: 'Benzin-Bold', sans-serif;
    font-size: 4.1rem;
    text-transform: uppercase;
    color: var(--black);
    line-height: 5vw;
  }
  h4 {
    font-family: 'Benzin-Bold', sans-serif;
    font-size: 2.375rem;
    color: var(--black);
  }
  h3 {
    font-family: 'Evolventa-Bold', sans-serif;
    font-size: 2rem;
    color: var(--black);
  }
  h5 {
    font-family: 'Benzin-Bold', sans-serif;
    font-size: 5.2rem;
    text-transform: uppercase;
    color: var(--yellow);
    display: block;
  }
  a {
    text-decoration: none;
    font-size: 1.125rem;
    text-align: center;
  }
  .cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 93%;
    height: 50vw;
    margin: 9vw 3.5vw 0 3.5vw;
    border-radius: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    hgroup {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      h1 {
        text-align: center;
      }
      h5 {
        text-align: center;
      }
      p {
        color: var(--yellow);
        text-align: center;
        width: 40%;
        margin-top: 2vw;
      }
    }
  }
  a.card_location {
    text-align: start;
    width: 32%;
    min-height: 28.5vw;
    border: 0.1vw solid var(--black);
    border-radius: 3vw 0 3vw 0;
    display: flex;
    flex-direction: column;

    img.location_img {
      border-radius: 3vw 0 0 0;
      width: 100%;
    }

    div {
      width: 100%;
      background-color: var(--white);
      display: flex;
      flex-direction: column;
      border-radius: 0 0 3vw 0;
      padding: 1.5vw 1.7vw;
      gap: 2vw;

      hgroup.card_text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: start;
        gap: 1vw;
        margin-top: 0;
      }
      section.location_tag {
        display: flex;
        align-items: center;
        gap: 1.4vw;
        justify-content: flex-start;
        margin-top: 1vw;
        flex-direction: row;
        p {
          background-color: var(--yellow);
          justify-content: center;
          border-radius: 0.5vw;
          padding: 1vw 2vw;
        }
      }
    }
  }

  a.card_tips {
    text-align: start;
    width: 49%;
    margin-left: 0;
    margin-top: 2vw;
    width: 45.5%;
    min-height: 21vw;
    border: 0.1vw solid var(--black);
    border-radius: 3vw 0 3vw 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div:nth-child(1) {
      width: 62%;
      height: auto;
      background-color: var(--grey);
      border-radius: 3vw 0 0 0;
      display: flex;
      flex-direction: column;
      padding: 1.5vw 1.7vw;
      gap: 3vw;

      hgroup.card_text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: start;
        gap: 1vw;
        margin-top: 0;
      }
      section.tips_tag {
        display: flex;
        align-items: center;
        gap: 1.4vw;
        justify-content: flex-start;
        p {
          background-color: var(--black);
          padding: 1.2vw 2vw;
          justify-content: center;
          color: var(--yellow);
          border-radius: 0.5vw;
        }
        p:hover {
          color: var(--white);
        }
      }
    }
    div:nth-child(2) {
      background-repeat: no-repeat;
      background-size: cover;
      width: 40%;
      border-radius: 0 0 3vw 0;
    }
  }

  a.card_chill {
    text-align: left;
    width: 32%;
    min-height: 28.5vw;
    border: 0.1vw solid var(--black);
    border-radius: 3vw 0 3vw 0;
    display: flex;
    flex-direction: column;
    background-image: url('../images/main/main_photo8.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.5vw 1.7vw;
    gap: 14vw;

    section.chill_tag {
      display: flex;
      align-items: center;
      gap: 1.4vw;
      justify-content: flex-start;
      flex-direction: row;
    }

    p {
      background-color: var(--yellow);
      padding: 1vw 2vw;
      justify-content: center;
      border-radius: 0.5vw;
    }
  }

  a.card_tricks {
    width: 49%;
    background-color: var(--yellow);
    border: 0.1vw solid var(--black);
    border-radius: 3vw 0 3vw 0;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    align-items: center;
    a:nth-child(1) {
      background-color: var(--black);
      width: 8.2%;
      height: 4.1vw;
      margin-right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 91.8%;

      img {
        width: 35%;
        height: auto;
      }
    }
    div:nth-child(1) {
      width: 11%;
      margin-left: 89%;
      background-color: var(--black);
      padding: 1vw;

      img {
        width: 70%;
      }
    }

    hgroup {
      display: flex;
      flex-direction: column;
      gap: 5vw;
      margin-top: 6vw;
      width: 60%;
      align-items: center;
      div {
        display: flex;
        flex-direction: row;
        gap: 1vw;
        margin-bottom: 2vw;
        p {
          color: var(--black);
          background-color: var(--white);
          padding: 1vw 1vw;
          border-radius: 0.5vw;
          text-align: center;
        }
      }
    }
  }
}

.W_HeaderWithFilter {
  .A_Header1 {
    color: var(--black);
  }
}

@media screen and (max-width: 500px) {
  .O_Header {
    display: none;
  }
  .O_HeaderMobile {
    display: flex;
  }

  body {
    h1 {
      font-size: 3.6rem;
      text-align: center;
      line-height: 16vw;
    }
    h2 {
      font-size: 3rem;
      font-size: 2.2rem;
      line-height: 9vw;
    }
    h3 {
      font-size: 1.875rem;
    }
    h4 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
    .cover {
      height: 230vw;
      background-position: -60vw;
      margin: 0;
      width: 100%;
    }
    a.card_tricks {
      width: 100%;
      height: 50vw;
      margin-left: 0;
      border-radius: 8vw 0 8vw 0;
      div:nth-child(1) {
        width: 12%;
        height: 12vw;
        margin-left: 88%;
      }
      hgroup {
        div {
          margin-top: 10vw;
          p {
            padding: 2vw 4vw;
            border-radius: 1.2vw;
          }
        }
      }
    }

    a.card_location {
      width: 100%;
      border-radius: 8vw 0 8vw 0;
      div {
        border-radius: 0 0 8vw 0;
        padding: 4vw 6vw;
      }
    }
    a.card_chill {
      width: 100%;
      border-radius: 8vw 0 8vw 0;
      gap: 40vw;
      padding: 4vw 6vw;

      div {
        border-radius: 0 0 8vw 0;
        padding: 4vw 6vw;
      }
      p {
        padding: 1vw 2vw;
      }
    }

    a.card_tips {
      width: 100%;
      height: 100vw;
      flex-direction: column-reverse;
      border-radius: 8vw 0 8vw 0;
      justify-content: flex-start;
      div {
        width: 100%;
        border-radius: 0 0 8vw 0;
        height: 55%;
        gap: 2vw;
        padding: 8vw 10vw;
      }
      div:nth-child(1) {
        width: 100%;
        height: 45%;
        border-radius: 0 0 8vw 0;
        padding: 5vw;
      }
      div:nth-child(2) {
        width: 100%;
        border-radius: 8vw 0 0 0;
        margin-top: 0;
      }
    }
  }
  #navMenu {
    display: none;
  }
  #navMenu.active {
    display: flex;
  }
}
.active {
  display: flex !important;
}
@media screen and (max-width: 1024px) {
  body {
    h1 {
      font-size: 3rem;
      line-height: 3.7rem;
    }
    h2 {
      font-size: 2.6rem;
      line-height: 3.5rem;
    }
    h3 {
      font-size: 1.5rem;
      line-height: 1.7rem;
    }
    h4 {
      font-size: 2rem;
    }
    h5 {
      font-size: 3.2rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
