* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  font-size: 16px;
  scroll-behavior: smooth;
}
nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vw 0;
  background-color: var(--white);
  width: 100%;
  height: 6vw;
  padding: 0 3.5vw;

  .navSpace {
    width: 40%;
  }
  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
  }
  a {
    color: var(--black);
    width: 11%;
    img {
      width: 100%;
    }
  }

  .navFind {
    width: 2vw;
    height: 2vw;
    background-image: url('../images/searchIcon.webp');
    background-repeat: no-repeat;
    background-size: cover;
  }

  a:nth-child(5) {
    color: var(--yellow);
    background-color: var(--black);
    padding: 1rem 2rem;
    border-radius: 0.5vw;
    width: 12vw;
  }
}

.none {
  display: none;
}
body {
  h1 {
    font-family: 'Benzin-Bold', sans-serif;
    font-size: 6.4rem;
    text-transform: uppercase;
    color: var(--yellow);
  }
  h2 {
    font-family: 'Benzin-Bold', sans-serif;
    font-size: 4.1rem;
    text-transform: uppercase;
    color: var(--black);
    line-height: 5vw;
  }
  h4 {
    font-family: 'Benzin-Bold', sans-serif;
    font-size: 2.375rem;
    color: var(--black);
  }
  h3 {
    font-family: 'Evolventa-Bold', sans-serif;
    font-size: 2rem;
    color: var(--black);
  }
  h5 {
    font-family: 'Benzin-Bold', sans-serif;
    font-size: 5.2rem;
    text-transform: uppercase;
    color: var(--yellow);
    display: block;
  }
  p {
    font-family: 'Evolventa-Regular', sans-serif;
    font-size: 1.125rem;
    color: var(--black);
  }
  a {
    font-family: 'Evolventa-Bold', sans-serif;
    text-decoration: none;
    font-size: 1.125rem;
    text-align: center;
  }

  div.card_location {
    width: 30%;
    height: 28.5vw;
    border: 0.1vw solid var(--black);
    border-radius: 3vw 0 3vw 0;
    display: flex;
    flex-direction: column;

    img.location_img {
      border-radius: 3vw 0 0 0;
      width: 100%;
      height: 48%;
    }

    div {
      width: 100%;
      height: 52%;
      background-color: var(--white);
      display: flex;
      flex-direction: column;
      border-radius: 0 0 3vw 0;
      padding: 1.5vw 1.7vw;
      gap: 2vw;

      hgroup.card_text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: start;
        gap: 1vw;
        margin-top: 0;
      }
      section.location_tag {
        display: flex;
        align-items: center;
        gap: 1.4vw;
        justify-content: flex-start;
        margin-top: 1vw;
        flex-direction: row;
        p {
          background-color: var(--yellow);
          padding: 0.6vw 1vw;
          justify-content: center;
          border-radius: 0.5vw;
          padding: 1vw 2vw;
        }
      }
    }
  }

  div.card_tips {
    width: 45.5%;
    height: 21vw;
    border: 0.1vw solid var(--black);
    border-radius: 3vw 0 3vw 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
      width: 62%;
      height: auto;
      background-color: var(--grey);
      border-radius: 3vw 0 0 0;
      display: flex;
      flex-direction: column;
      padding: 1.5vw 1.7vw;
      gap: 3vw;

      hgroup.card_text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: start;
        gap: 1vw;
        margin-top: 0;
      }
      section.tips_tag {
        display: flex;
        align-items: center;
        gap: 1.4vw;
        justify-content: flex-start;
        p {
          background-color: var(--black);
          padding: 1.2vw 2vw;
          justify-content: center;
          color: var(--yellow);
          border-radius: 0.5vw;
        }
      }
    }

    img {
      width: 38%;
      height: auto;
      border-radius: 0 0 3vw 0;
    }
  }

  div.card_chill {
    width: 30%;
    height: 28.5vw;
    border: 0.1vw solid var(--black);
    border-radius: 3vw 0 3vw 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../images/main/main_photo8.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.5vw 1.7vw;

    section.chill_tag {
      display: flex;
      align-items: center;
      gap: 1.4vw;
      justify-content: flex-start;
    }

    p {
      background-color: var(--yellow);
      padding: 0.6vw 1vw;
      justify-content: center;
      border-radius: 0.5vw;
    }
  }

  div.card_tricks {
    width: 46%;
    height: 25.5vw;
    background-color: var(--yellow);
    border: 0.1vw solid var(--black);
    border-radius: 3vw 0 3vw 0;
    display: flex;
    flex-direction: column;
    margin-top: 6vw;
    width: 60%;
    margin-left: 20%;
    align-items: center;
    div:nth-child(1) {
      background-color: var(--black);
      width: 8.2%;
      height: 4.1vw;
      margin-right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 91.8%;

      img {
        width: 35%;
        height: auto;
      }
    }

    hgroup {
      display: flex;
      flex-direction: column;
      gap: 5vw;
      margin-top: 6vw;
      width: 60%;
      text-align: center;
      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p {
          color: var(--black);
          background-color: var(--white);
          padding: 1vw 2vw;
          border-radius: 0.5vw;
          text-align: center;
          width: 40%;
        }
      }
    }
  }
}
@media screen and (max-width: 410px) {
  body {
    h1 {
      font-size: 3.6rem;
      text-align: center;
    }
    h2 {
      font-size: 3rem;
    }
    h3 {
      font-size: 1.875rem;
    }
    h4 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }

    div.card_tricks {
      width: 100%;
      height: 50vw;
      margin-left: 0;
      border-radius: 8vw 0 8vw 0;
      hgroup {
        div {
          p {
            padding: 2vw 0;
          }
        }
      }
    }

    div.card_location {
      width: 100%;
      height: 80vw;
      border-radius: 8vw 0 8vw 0;

      div {
        border-radius: 0 0 8vw 0;
        padding: 4vw 6vw;
      }
    }

    div.card_tips {
      width: 100%;
      height: 80vw;
      flex-direction: column;
      border-radius: 8vw 0 8vw 0;
      justify-content: flex-start;
      div {
        width: 100%;
        border-radius: 0 0 8vw 0;
        height: 52%;
        margin-top: 48%;
      }
    }
  }
}
