* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'TT Prosto Sans Trial', sans-serif;
}
h1 {
  font-size: 15.5vw;
  text-transform: uppercase;
  color: var(--red);
  font-weight: 700;
}
h2 {
  font-size: 8.3vw;
  text-transform: uppercase;
  color: var(--blue);
  font-weight: 700;
}
p {
  font-size: 1.25vw;
  color: var(--blue);
  font-weight: 400;
}
.menu {
  z-index: 9999;
  position: fixed;
  width: 100vw;
  height: 6.875vw;
  display: flex;
  align-items: center;
  padding: 0 3.472vw;
  .options {
    width: 93.056vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      background-image: url('../images/logo.svg');
      background-size: cover;
      background-repeat: no-repeat;
      width: 11.1vw;
      height: 4vw;
    }
    .links {
      width: 58.264vw;
      display: flex;
      align-items: center;
      justify-content: space-between;

      * {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.25vw;
      }
    }
  }
}
@media screen and (max-width: 1025px) {
  h2 {
    font-size: 11.655vw;
  }
  p {
    font-size: 3.721vw;
  }
}
