* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'TT Prosto Sans Trial', sans-serif;
}
h1 {
  font-size: 15.5vw;
  text-transform: uppercase;
  color: var(--red);
  font-weight: 700;
}
h2 {
  font-size: 9.167vw;
  text-transform: uppercase;
  color: var(--blue);
  font-weight: 700;
}
p {
  font-size: 1.25vw;
  color: var(--blue);
  font-weight: 400;
}
