body.chill {
  .cover {
    background-image: url('../images/chill/chill_photo.webp');
    h5 {
      font-size: 5.1rem;
    }
    h1 {
      font-size: 6.75rem;
    }
  }

  .chill_one {
    width: 100%;
    min-height: 120vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 8vw 3.5vw;
    section {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 1.2vw;
      justify-content: space-between;
      margin-top: 2vw;
      flex-wrap: wrap;
    }
  }
}
body.chill1 {
  background-color: aqua;
}
@media screen and (max-width: 500px) {
  body.chill {
    .cover {
      h1 {
        font-size: 3rem;
      }
      h5 {
        font-size: 3rem;
      }
    }
    .chill_one {
      section {
        gap: 6vw;
      }
    }
  }
}
