body.chill {
  .cover {
    background-image: url('../images/chill/chill_photo.webp');
    h5 {
      font-size: 5.1rem;
    }
    h1 {
      font-size: 6.75rem;
    }
  }

  .chill_one {
    width: 100%;
    height: 120vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 8vw 3.5vw;
    section {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 1.2vw;
      justify-content: space-between;
      margin-top: 2vw;
      flex-wrap: wrap;
    }
  }
}
