body.chill {
  .cover {
    background-image: url('../images/chill/chill_photo.webp');
    h5 {
      font-size: 5.1rem;
    }
    h1 {
      font-size: 6.75rem;
    }
  }

  .chill_one {
    width: 100%;
    min-height: 120vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 8vw 3.5vw;
    section {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 1.2vw;
      justify-content: space-between;
      margin-top: 2vw;
      flex-wrap: wrap;
    }
  }
}
body.chill1 {
  border-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  img.coverMini {
    margin: 9vw 3.5vw 0 3.5vw;
    border-radius: 0.5vw;
  }
  .chillHead,
  .yellow,
  .chillOne,
  .chillTwo,
  .chillThree,
  .chillFour {
    width: 100%;
    display: flex;
    gap: 4vw;
    padding: 4vw;
    div {
      width: 20%;
      p {
        width: 100%;
      }
    }
  }
  .chillHead {
    h2 {
      width: 70%;
    }
  }
  .yellow {
    background-color: var(--yellow);
    padding: 4vw;
    hgroup {
      width: 70%;
      p {
        width: 70%;
      }
    }
  }
  .chillOne {
    hgroup {
      width: 70%;
      h3 {
        margin-bottom: 1rem;
      }
      p {
        width: 70%;
      }
    }
  }
  .chillTwo {
    section {
      img {
        width: 90%;
      }
    }
  }
  .chillThree {
    section {
      img {
        width: 90%;
      }
    }
  }
  .chillFour {
    display: flex;
    flex-direction: column;
    section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      div {
        width: 32%;
        section {
          p {
            width: auto;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  body.chill {
    .cover {
      h1 {
        font-size: 3rem;
      }
      h5 {
        font-size: 3rem;
      }
    }
    .chill_one {
      section {
        gap: 6vw;
      }
    }
  }

  body.chill1 {
    img.coverMini {
      margin-left: -100vw;
    }
    .chillHead,
    .yellow,
    .chillOne,
    .chillTwo,
    .chillThree {
      div:nth-child(1) {
        display: none;
      }
    }
    .yellow,
    .chillOne {
      hgroup {
        width: 100%;
        p {
          width: 90%;
        }
      }
    }
    .chillThree {
      section {
        img {
          width: 100%;
        }
      }
    }
    .chillTwo {
      section {
        img {
          width: 100%;
        }
      }
    }
    .chillFour {
      section {
        flex-direction: column;
        gap: 6vw;
        align-items: center;
        div {
          width: 98%;
        }
      }
    }
  }
}
