@font-face {
  font-family: 'TT Prosto Sans';
  src: url('../fonts/TT-Prosto-Sans-Trial-Bold.otf') format('opentype');
  font-weight: 900;
}
@font-face {
  font-family: 'TT Prosto Sans';
  src: url('../fonts/TT-Prosto-Sans-Trial-Regular.otf') format('opentype');
  font-weight: 400;
}
