@font-face {
  font-family: 'Muller Next Wide Trial';
  src: url('../fonts/MullerNextWideTrial-ExtraBold.otf') format('opentype');
  font-weight: 900;
}
@font-face {
  font-family: 'Muller Next Wide Trial';
  src: url('../fonts/MullerNextWideTrial-ExtraBoldItalic.otf')
    format('opentype');
  font-weight: 900;
}
@font-face {
  font-family: 'TT Hoves Pro Trial';
  src: url('../fonts/TT Hoves Pro Trial Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'druk wide cyr-bold';
  src: url('../fonts/drukwidecyr-bold.otf') format('opentype');
  font-weight: 900;
}
@font-face {
  font-family: 'gotham pro';
  src: url('../fonts/gothampro.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'gotham pro_medium';
  src: url('../fonts/gothampro_medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'gotham pro_bold';
  src: url('../fonts/gothampro_bold.ttf') format('truetype');
  font-weight: 900;
}
