@font-face {
  font-family: 'Muller Next Wide Trial';
  src: url('../fonts/MullerNextWideTrial-ExtraBold.otf') format('opentype');
  font-weight: 900;
}
@font-face {
  font-family: 'Muller Next Wide Trial';
  src: url('../fonts/MullerNextWideTrial-ExtraBoldItalic.otf')
    format('opentype');
  font-weight: 900;
}
@font-face {
  font-family: 'TT Hoves Pro Trial';
  src: url('../fonts/TT Hoves Pro Trial Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Benzin-Bold';
  src: url('../fonts/benzin-bold.ttf') format('truetype');
  font-weight: 900;
}
@font-face {
  font-family: 'Evolventa-Regular';
  src: url('../fonts/Evolventa-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Evolventa-Bold';
  src: url('../fonts/Evolventa-Regular.ttf') format('truetype');
  font-weight: 900;
}
