footer {
  width: 100%;
  background-color: var(--black);
  padding: 3vw 3.5vw;
  position: relative;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;

  a {
    color: var(--yellow);
  }

  p {
    color: var(--text);
  }
  section:nth-child(1) {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-between;
    section:nth-child(1) {
      width: 11%;
      height: 11vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      img {
        width: 100%;
        height: auto;
      }
      .social_icons {
        width: 8vw;
        height: 6vw;
        display: flex;
        justify-content: flex-start;
        gap: 2vw;
        a {
          width: 27.5%;
          height: 5vw;
          display: block;
        }

        .tg-icon {
          fill: #f1fd53;

          &:hover {
            fill: #2aabee;
            transition: all 0.3s ease-out;
          }
        }
        .vk-icon {
          fill: #f1fd53;

          &:hover {
            fill: #0077ff;
            transition: all 0.3s ease-out;
          }
        }
      }
    }

    section:nth-child(2) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 20%;
      gap: 3vw;
      section {
        display: flex;
        flex-direction: column;
        gap: 1vw;
      }
    }
  }
  section:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4vw;
  }
}
@media screen and (max-width: 410px) {
  footer {
    a {
      text-align: start;
      font-family: 'Evolventa-Regular', sans-serif;
    }
    height: 100vw;
    padding: 10vw 10vw;

    section:nth-child(1) {
      height: 50vw;
      justify-content: space-between;

      section:nth-child(1) {
        flex-direction: column;
        gap: 5vw;
        width: 50%;

        .social_icons {
          width: 40vw;
        }
      }
      section:nth-child(2) {
        flex-direction: column;
        width: 30%;
      }
    }
    section:nth-child(2) {
      flex-direction: column;
    }
  }
}
