body.index {
  background-color: white;

  .main_cover {
    background-image: url('../images/main/main_photo1.webp');
    background-size: cover;
    background-repeat: no-repeat;
    width: 93%;
    height: 50vw;
    margin: 9vw 3.5vw 0 3.5vw;
    border-radius: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;

    hgroup {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      p {
        color: var(--white);
        text-align: center;
        width: 40%;
        margin-top: 2vw;
      }
    }
  }

  .main_one {
    background-color: var(--white);
    background-image: url('../images/main/main_photo2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vw;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    margin: 0 3.5vw;
    align-items: center;

    section {
      width: 46%;
      height: 25.5vw;
      hgroup {
        p {
          width: 53%;
        }
      }
      a {
        color: var(--yellow);
        background-color: var(--black);
        padding: 1rem 2rem;
        border-radius: 0.5vw;
        margin-top: 5vw;
        width: 22%;
      }
    }
    section:nth-child(1) {
      display: flex;
      flex-direction: column;
    }
    section:nth-child(2) {
      background-color: var(--yellow);
      border: 0.1vw solid var(--black);
      border-radius: 3vw 0 3vw 0;

      div:nth-child(1) {
        background-color: var(--black);
        width: 8.2%;
        height: 4.1vw;
        margin-right: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 35%;
          height: auto;
        }
      }
      hgroup {
        display: flex;
        flex-direction: column;
        gap: 7vw;
        margin-top: 6vw;
        width: 60%;
        margin-left: 20%;
        text-align: center;
        div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 80%;
          margin-left: 10%;
          gap: 1vw;
          p {
            color: var(--black);
            background-color: var(--white);
            padding: 1rem 2rem;
            border-radius: 0.5vw;
            text-align: center;
          }
        }
      }
    }
  }

  .main_two {
    width: 100%;
    height: 30vw;
    background-color: var(--black);

    h4 {
      margin: 3.5vw 0 0 3.5vw;
    }
    img {
      width: 100%;
      height: auto;
    }
  }

  .main_three {
    width: 100%;
    height: 45vw;
    background-color: var(--grey);
  }

  .main_four {
    width: 100%;
    height: 40vw;
    background-color: var(--yellow);
  }

  .main_five {
    width: 100%;
    height: 45vw;
    background-color: var(--white);
  }

  .main_six {
    width: 100%;
    height: 40vw;
    background-color: var(--grey);
  }
  form {
    margin-top: 4vw;
    margin-left: 4vw;
    display: flex;
    gap: 1vw;

    input {
      font-size: 2rem;
      height: 3rem;
      border-radius: 0.5rem;
      padding: 0 1rem;
    }

    #email {
      border: 0.2vw solid #eee;
    }
    #button {
      border: none;
    }
  }
}

@media screen and (max-width: 1023px) {
  body.index {
    p {
      font-size: 1.5rem;
    }
    nav > a {
      font-size: 1.5rem;
    }
    hgroup {
      p {
        width: 80%;
      }
    }
    section.gallery {
      width: 80%;
      margin-left: 10vw;

      div {
        width: 50%;
        height: 40vw;
      }

      .card_nine {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  body.index {
    nav > a {
      font-size: 1.2rem;
    }
    section.gallery {
      width: 100%;
      margin-left: 0vw;

      div {
        display: inline-block;
        width: 100%;
        height: 100vw;
      }

      .card_nine {
        display: inline-block;
      }
    }
    article {
      width: 80%;
      margin-top: 5vw;
      margin-left: 10vw;
    }
  }
}
