body.index {
  background-color: white;

  section.gallery {
    width: 60%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-top: 5vw;

    div {
      width: 33%;
      height: 20vw;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .card_one {
      background-image: url('../images/main/main_one.webp');
    }
    .card_two {
      background-image: url('../images/main/main_two.webp');
    }
    .card_three {
      background-image: url('../images/main/main_three.webp');
    }
    .card_four {
      background-image: url('../images/main/main_four.webp');
    }
    .card_five {
      background-image: url('../images/main/main_five.webp');
    }
    .card_six {
      background-image: url('../images/main/main_six.webp');
    }
    .card_seven {
      background-image: url('../images/main/main_seven.webp');
    }
    .card_eight {
      background-image: url('../images/main/main_eight.webp');
    }
    .card_nine {
      background-image: url('../images/main/main_nine.webp');
    }
  }
  article {
    width: 60%;
    margin-top: 5vw;
    margin-left: 30vw;
  }
  form {
    margin-top: 4vw;
    margin-left: 4vw;
    display: flex;
    gap: 1vw;

    input {
      font-size: 2rem;
      height: 3rem;
      border-radius: 0.5rem;
      padding: 0 1rem;
    }

    #email {
      border: 0.2vw solid #eee;
    }
    #button {
      border: none;
    }
  }
}

@media screen and (max-width: 1023px) {
  body.index {
    p {
      font-size: 1.5rem;
    }
    nav > a {
      font-size: 1.5rem;
    }
    hgroup {
      p {
        width: 80%;
      }
    }
    section.gallery {
      width: 80%;
      margin-left: 10vw;

      div {
        width: 50%;
        height: 40vw;
      }

      .card_nine {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  body.index {
    nav > a {
      font-size: 1.2rem;
    }
    section.gallery {
      width: 100%;
      margin-left: 0vw;

      div {
        display: inline-block;
        width: 100%;
        height: 100vw;
      }

      .card_nine {
        display: inline-block;
      }
    }
    article {
      width: 80%;
      margin-top: 5vw;
      margin-left: 10vw;
    }
  }
}
