body.index {
  .cover {
    background-image: url('../images/main/main_photo1.webp');

    hgroup {
      p {
        color: var(--white);
      }
    }
  }

  .main_one {
    background-color: var(--white);
    background-image: url('../images/main/main_photo2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 40vw;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    padding: 0 3.5vw;
    align-items: center;
    justify-content: space-between;

    section {
      width: 46%;
      height: 25.5vw;
      display: flex;
      flex-direction: column;
      hgroup {
        p {
          width: 60%;
          margin-top: 2vw;
        }
      }
      a {
        max-width: 50%;
        color: var(--yellow);
        background-color: var(--black);
        padding: 1rem 2rem;
        border-radius: 0.5vw;
        margin-top: 5vw;
      }

      a:hover {
        color: var(--white);
      }
    }
  }

  .main_two {
    width: 100%;
    min-height: 30vw;
    background-color: var(--black);
    background-image: url('../images/main/main_photo3.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3.5vw;
    background-position: center;

    h3 {
      color: var(--yellow);
    }
  }

  .main_three {
    width: 100%;
    min-height: 52vw;
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 8vw 3.5vw;
    hgroup {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      a {
        color: var(--yellow);
        background-color: var(--black);
        padding: 1vw 2vw;
        border-radius: 0.5vw;
      }
      a:hover {
        color: var(--white);
      }
    }

    section {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 2vw;
      justify-content: space-between;
      margin-top: 2vw;
    }
  }

  .main_four {
    width: 100%;
    min-height: 35vw;
    background-color: var(--yellow);
    padding: 7vw 3.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    section:nth-child(1) {
      width: 46%;
      height: 25.5vw;
      display: flex;
      flex-direction: column;
      hgroup {
        p {
          width: 60%;
          margin-top: 2vw;
        }
      }
      a {
        color: var(--yellow);
        background-color: var(--black);
        padding: 1.2vw 2vw;
        border-radius: 0.5vw;
        margin-top: 3vw;
        max-width: 50%;
      }
      a:hover {
        color: var(--white);
      }
    }
    .card_tips {
      div:nth-child(2) {
        background-image: url('../images/tips/tips_photo1.webp');
        background-repeat: no-repeat;
        background-size: cover;
        width: 40%;
        border-radius: 0 0 3vw 0;
        background-position: center;
      }
    }
  }

  .main_five {
    width: 100%;
    min-height: 52vw;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 8vw 3.5vw;
    hgroup {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 40vw;
      a {
        color: var(--yellow);
        background-color: var(--black);
        padding: 1rem 2rem;
        border-radius: 0.5vw;
      }
      a:hover {
        color: var(--white);
      }
    }
    section {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 2vw;
      justify-content: space-between;
      margin-top: 2vw;
    }
  }

  .main_six {
    width: 100%;
    min-height: 40vw;
    background-color: var(--grey);
    display: flex;
    flex-direction: row;
    gap: 1vw;
    padding: 0 3.5vw;
    align-items: center;
    justify-content: space-between;

    section {
      display: flex;
      flex-direction: column;
      width: 46%;
      height: 25.5vw;

      p {
        width: 53%;
        margin-top: 2vw;
      }
    }

    img {
      height: auto;
      width: 45.5%;
      border-radius: 3vw 0 3vw 0;
    }
    form {
      margin-top: 4vw;
      display: flex;
      justify-content: space-between;

      input {
        font-size: 1.125rem;
        padding: 1rem 2rem;
        border-radius: 0.5vw;
      }

      #email {
        border: 0.1vw solid var(--black);
        background-color: var(--white);
        color: var(--grey);
        font-family: 'Evolventa-Regular', sans-serif;
        width: 72%;
      }
      #button {
        background-color: var(--black);
        color: var(--yellow);
        font-family: 'Evolventa-Bold', sans-serif;
      }
      #button:hover {
        color: var(--white);
      }
    }
  }
}

@media screen and (max-width: 500px) {
  body.index {
    h5 {
      display: none;
    }

    #text {
      display: block;
      font-size: 3.6rem;
    }
    .cover {
      hgroup {
        p {
          width: 80%;
        }
      }
    }
    .main_one {
      min-height: 155vw;
      background-position: -2vw;
      flex-direction: column;
      padding: 20vw 10vw;
      justify-content: flex-start;
      section {
        width: 100%;
        height: 30vw;
        gap: 75vw;
        hgroup {
          p {
            width: 90%;
            margin-top: 4vw;
          }
        }
        a {
          border-radius: 1vw;
          max-width: 100%;
          text-align: center;
        }
      }
      div.card_tricks {
        margin-top: 8vw;
        div:nth-child(1) {
          width: 12%;
          height: 12vw;
          margin-left: 88%;
        }
      }
    }

    .main_two {
      min-height: 100vw;
      padding: 10vw 8vw;
      background-position: -100vw;
    }
    .main_three {
      padding: 20vw 10vw;
      hgroup {
        align-items: flex-start;
        flex-direction: column;
        gap: 0;
        a {
          margin-top: 10vw;
          width: 80vw;
          padding: 4vw 2vw;
          border-radius: 1vw;
        }
      }
      section {
        flex-direction: column;
        gap: 5vw;
      }
    }

    .main_four {
      min-height: 230vw;
      padding: 20vw 10vw;
      flex-direction: column;
      justify-content: flex-start;
      gap: 50vw;
      section:nth-child(1) {
        width: 100%;
        hgroup {
          p {
            width: 100%;
            margin-top: 4vw;
          }
        }
        a {
          width: 80vw;
          padding: 4vw 2vw;
          border-radius: 1vw;
          margin-top: 10vw;
        }
      }
    }

    .main_five {
      padding: 20vw 10vw;
      hgroup {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        a {
          margin-top: 10vw;
          width: 80vw;
          padding: 4vw 2vw;
          border-radius: 1vw;
        }
      }
      section {
        flex-direction: column;
        gap: 5vw;
      }
    }

    .main_six {
      min-height: 200vw;
      padding: 20vw 10vw;
      flex-direction: column;
      justify-content: flex-start;

      img {
        width: 100%;
        margin-top: -100vw;
        border-radius: 8vw 0 8vw 0;
      }

      section {
        width: 100%;
        margin-top: 80vw;
        p {
          width: 53%;
        }
      }
      form {
        flex-direction: column;
        gap: 5vw;

        #button {
          border-radius: 1vw;
        }

        #email {
          border-radius: 1vw;
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  body.index {
  }
}
