.index {
  width: 100vw;
  height: auto;
  background-image: url('../images/landing/noise.svg');
  background-size: cover;
}
a {
  text-decoration: none;
}
.menu {
  .options {
    .links {
      .about_btn {
        color: white;
        background-color: var(--red);
        border-radius: 2.083vw;
        padding: 1.27vw 1.736vw;
        margin-left: 50.5vw;

        p {
          font-size: 1.25vw;
          color: white;
          width: 4.236vw;
        }
      }
    }
  }
}

.landing_content {
  h2 {
    margin-top: 10.972vw;
    margin-left: -2.431vw;
  }
  p {
    width: 32.361vw;

    margin-top: 7.986vw;
    margin-left: 12.292vw;
  }

  .s {
    position: absolute;
    z-index: 4;
    top: 39.514vw;
    left: 49.931vw;

    width: 32.847vw;
    height: 29.931vw;
  }

  .s1 {
    position: absolute;
    z-index: 3;
    top: 41.111vw;
    left: 51.389vw;

    width: 26.181vw;
    height: 31.458vw;
  }

  .s2 {
    position: absolute;
    z-index: 2;
    top: 27.222vw;
    left: 74.736vw;

    width: 13.889vw;
    height: 19.444vw;
  }

  .s3 {
    position: absolute;
    z-index: 1;
    top: 44.931vw;
    left: 79.861vw;

    width: 14.167vw;
    height: 19.792vw;
  }
  .mails {
    position: absolute;
    left: 8.819vw;
    top: 55.625vw;
    width: 30.417vw;
    height: 4.375vw;

    #email {
      font-family: 'TT Prosto Sans Trial', sans-serif;
      background-color: var(--white);
      border-radius: 2.13vw;
      padding: 1.4vw 1.736vw;
      font-weight: 400;
      font-size: 1.25vw;
      width: 30.417vw;
      border: 0.139vw solid var(--blue);
    }

    #button {
      font-family: 'TT Prosto Sans Trial', sans-serif;
      position: absolute;
      right: 0.14vw;
      top: 0.13vw;
      background-color: var(--red);
      color: var(--white);
      border-radius: 2vw;
      border: none;
      padding: 1.42vw 1.736vw;
      font-weight: 400;
      font-size: 1.25vw;
      width: 10.069vw;
      margin-right: 0;
    }
  }
}

.footer_form {
  height: 7vw;
  padding: 2.083vw 3.472vw;

  margin-top: 24.028vw;

  background-color: var(--blue);

  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo_white {
    width: 14.444vw;
    height: 5.1vw;
  }
  .sm {
    display: flex;
    align-items: center;

    margin-top: 1.389vw;

    .tg_white {
      width: 2.431vw;
      height: 2.014vw;

      margin-right: 1.736vw;
      opacity: 90%;
    }
    .tg_white:hover {
      cursor: pointer;
      opacity: 100%;
    }

    .vk_white {
      width: 3.333vw;
      height: 2.014vw;
      opacity: 90%;
    }
    .vk_white:hover {
      cursor: pointer;
      opacity: 100%;
    }
  }
}

@media screen and (max-width: 431px) {
  p {
    font-size: 3.721vw;
  }
  .landing_content {
    h2 {
      font-size: 11.628vw;
      margin-top: 25.116vw;
      margin-left: -3.023vw;
    }

    p {
      width: 81.163vw;
      font-size: 3.721vw;

      margin-top: 80.465vw;
      margin-left: 4.651vw;
    }

    .s {
      position: absolute;
      z-index: 4;
      top: 67.907vw;
      left: 2.558vw;

      width: 65.581vw;
      height: 59.535vw;
    }

    .s1 {
      position: absolute;
      z-index: 3;
      top: 71.163vw;
      left: 5.581vw;

      width: 52.093vw;
      height: 62.558vw;
    }

    .s2 {
      position: absolute;
      z-index: 2;
      top: 63.023vw;
      left: 54.419vw;

      width: 27.442vw;
      height: 38.605vw;
    }

    .s3 {
      position: absolute;
      z-index: 1;
      top: 98.14vw;
      left: 62.558vw;

      width: 28.14vw;
      height: 39.302vw;
    }
  }

  .mails {
    position: absolute;
    left: 4.651vw;
    top: 175vw;
    width: 90.698vw;
    height: 11.628vw;

    #email {
      font-family: 'TT Prosto Sans Trial', sans-serif;
      background-color: var(--white);
      border-radius: 10vw;
      padding: 3.488vw 5.814vw;
      font-weight: 400;
      font-size: 3.721vw;
      width: 90.698vw;
      border: 0.465vw solid var(--blue);
    }

    #button {
      font-family: 'TT Prosto Sans Trial', sans-serif;
      position: absolute;
      right: 0.4vw;
      top: 0.4vw;
      background-color: var(--red);
      color: var(--white);
      border-radius: 10vw;
      border: none;
      padding: 3.488vw 5.814vw;
      font-weight: 400;
      font-size: 3.721vw;
      width: 31.395vw;
      margin-right: 0;
    }
  }

  .logo {
    background-image: url('../images/logo.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 27.674vw;
    height: 9.535vw;
  }

  .menu {
    margin-top: 4.651vw;
    .options {
      .links {
        .about_btn {
          color: white;
          background-color: var(--red);
          border-radius: 10vw;
          padding: 2.791vw 4.651vw;
          margin-left: 35.163vw;

          p {
            font-size: 3.721vw;
            color: white;
            width: 12.558vw;
          }
        }
      }
    }
  }
  .footer_form {
    height: 12.791vw;
    padding: 2.093vw 4.186vw;

    margin-top: 37vw;

    background-color: var(--blue);

    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo_white {
      width: 27.674vw;
      height: 9.535vw;
    }
    .sm {
      display: flex;
      align-items: center;

      .tg_white {
        width: 5.349vw;
        height: 4.419vw;

        margin-right: 3.488vw;
        opacity: 90%;
      }
      .tg_white:hover {
        cursor: pointer;
        opacity: 100%;
      }

      .vk_white {
        width: 6.977vw;
        height: 4.419vw;
        opacity: 90%;
      }
      .vk_white:hover {
        cursor: pointer;
        opacity: 100%;
      }
    }
  }
}
