body.styleguide {
  background-color: #f2f2f2;
  width: 100%;

  h1 {
    font-size: 1.625rem;
    font-family: 'druk wide cyr-bold';
    font-weight: 900;
    color: var(--black);
  }
  h2 {
    font-size: 1rem;
    font-family: 'gotham pro_bold';
    font-weight: 900;
    color: var(--yellow);
  }
  h3 {
    font-size: 1.25rem;
    font-family: 'gotham pro';
    font-weight: 400;
    color: var(--text);
    margin: 1rem 0;
  }
  h4 {
    font-size: 1.125rem;
    font-family: 'gotham pro';
    font-weight: 400;
    color: var(--white);
  }
  p {
    font-size: 1rem;
    font-family: 'gotham pro_medium';
    font-weight: 500;
    color: var(--text);
  }

  .cover {
    width: 100%;
    height: 1080px;
    color: var(--yellow);
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 30rem 9.5rem;
    margin: 0;

    img {
      width: 35.3%;
      height: auto;
      background-image: url('../images/logoDark.webp');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  nav {
    position: fixed;
    top: 1080px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--black);
    width: 10%;
    height: 100vw;
    padding: 0 1.5vw;

    img {
      width: 75.6%;
      height: auto;
      margin-left: 12.2%;
    }
  }

  section,
  section + hgroup {
    margin-left: 13.6vw;
    display: flex;
    flex-direction: row;
    gap: 4.375rem;

    p {
      width: 21rem;
      margin-top: 2.5rem;
    }
  }

  .style_about {
    margin-top: 2.5rem;
  }

  section + hgroup {
    margin-top: 4.5rem;
    flex-direction: column;
    gap: 0;

    p {
      font-size: 5.375rem;
      font-family: 'druk wide cyr-bold';
      font-weight: 900;
      color: var(--black);
    }
  }

  .style_logo {
    margin-top: 15rem;
  }

  section + img {
    margin-left: 13.6vw;
    margin-top: 9.75rem;
    width: 84%;
    height: auto;
  }

  .style_color {
    margin-top: 14.5rem;

    section {
      width: 33.8vw;
      height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1vw;

      div {
        width: 49%;
        height: 37.6%;
      }
    }
  }
}
