body.tips {
  .cover {
    background-image: url('../images/tips/Q_TipCard1.webp');
    h1 {
      font-size: 5.1rem;
    }
    h5 {
      font-size: 6.75rem;
    }
  }

  .tips_one {
    width: 100%;
    min-height: 52vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 8vw 3.5vw;

    a.card_tips {
      width: 100%;
      min-height: 35vw;
      hgroup {
        width: 50%;
      }
      div {
        background-color: var(--yellow);
        padding: 2vw 3vw;
        gap: 10vw;
      }
      div:nth-child(2) {
        background-image: url('../images/tips/Q_TipCard1.webp');
        background-repeat: no-repeat;
        background-size: cover;
        width: 40%;
        border-radius: 0 0 3vw 0;
      }
    }
  }
  .tips_two {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 80vw;
    padding: 3.5vw;
    section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .card_tips:nth-child(1) {
        div:nth-child(2) {
          background-image: url('../images/tips/Q_TipCard1.webp');
        }
      }
      .card_tips:nth-child(2) {
        div:nth-child(2) {
          background-image: url('../images/tips/Q_TipCard1.webp');
        }
      }
      .card_tips:nth-child(3) {
        div:nth-child(2) {
          background-image: url('../images/tips/Q_TipCard1.webp');
        }
      }
      .card_tips:nth-child(4) {
        div:nth-child(2) {
          background-image: url('../images/tips/Q_TipCard1.webp');
        }
      }
      .card_tips:nth-child(5) {
        div:nth-child(2) {
          background-image: url('../images/tips/Q_TipCard1.webp');
        }
      }
      .card_tips:nth-child(6) {
        div:nth-child(2) {
          background-image: url('../images/tips/Q_TipCard1.webp');
        }
      }
    }
  }
}

body.tips1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  img.coverMini {
    margin: 9vw 3.5vw 0 3.5vw;
    border-radius: 0.5vw;
  }
  .tipsHead,
  .tipsOne {
    width: 100%;
    display: flex;
    padding: 4vw;
  }
  .tipsHead {
    flex-direction: column;
    gap: 2vw;
    p {
      width: 30%;
    }
  }
  .tipsOne {
    .yellow_card {
      width: 100%;
      min-height: 35vw;
      margin-left: 0;
      margin-top: 2vw;
      border: 0.1vw solid var(--black);
      border-radius: 3vw 0 3vw 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: var(--yellow);
      div.pattern {
        background-image: url('../images/tips/Q_TipCard1.webp');
        background-repeat: no-repeat;
        background-size: cover;
        width: 35%;
        border-radius: 3vw 0 0 0;
      }
      div {
        justify-content: flex-start;
        width: 60%;
        display: flex;
        flex-direction: column;
        padding: 2vw;
        gap: 4vw;
        button {
          color: var(--yellow);
          background-color: var(--black);
          padding: 1vw 2vw;
          border-radius: 0.5vw;
          text-align: center;
          max-width: 30%;
        }
        section {
          display: flex;
          gap: 1.5vw;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  body.tips {
    .cover {
      h1 {
        font-size: 3.5rem;
      }
      h5 {
        font-size: 4.5rem;
      }
    }
    .tips_one {
      & a.card_tips {
        hgroup {
          width: 100%;
        }
        div:nth-child(2) {
          width: 100%;
          border-radius: 8vw 0 0 0;
        }
      }
    }
    .tips_two {
      section {
        a.card_tips {
          width: 100%;
        }
        .card_tips:nth-child(1) {
          div:nth-child(2) {
            background-image: url('../images/tips/Q_TipCard1.webp');
          }
        }
        .card_tips:nth-child(2) {
          div:nth-child(2) {
            background-image: url('../images/tips/Q_TipCard1.webp');
          }
        }
        .card_tips:nth-child(3) {
          div:nth-child(2) {
            background-image: url('../images/tips/Q_TipCard1.webp');
          }
        }
        .card_tips:nth-child(4) {
          div:nth-child(2) {
            background-image: url('../images/tips/Q_TipCard1.webp');
          }
        }
        .card_tips:nth-child(5) {
          div:nth-child(2) {
            background-image: url('../images/tips/Q_TipCard1.webp');
          }
        }
        .card_tips:nth-child(6) {
          div:nth-child(2) {
            background-image: url('../images/tips/Q_TipCard1.webp');
          }
        }
      }
    }
  }
  body.tips1 {
    .tipsHead {
      p {
        width: 80%;
      }
    }
    .tipsOne {
      .yellow_card {
        flex-direction: column;
        div.pattern {
          width: 100%;
          height: 30vw;
        }
        div {
          width: 100%;
        }
      }
    }
  }
}
