body.tricks {
  .cover {
    background-image: url('../images/tricks/tricks_photo.webp');
    h1 {
      font-size: 7.1rem;
    }
    h3 {
      font-size: 7.1rem;
    }
  }

  .tricks_one {
    width: 100%;
    min-height: 100vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 8vw 3.5vw;
    hgroup {
      display: flex;
      justify-content: space-between;
      align-items: center;
      section {
        width: 45%;
        display: flex;
        justify-content: space-between;
        button {
          background-color: var(--white);
          color: var(--black);
          padding: 0.8vw 2vw;
          border-radius: 0.5vw;
          border: 0.1vw solid var(--black);
          font-family: 'Evolventa-Bold', sans-serif;
          font-size: 1.125rem;
          margin: 0;
        }
        button:nth-child(1) {
          background-color: var(--yellow);
          border: 0;
        }
      }
    }
    section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 1.2vw;

      a.card_tricks {
        margin-left: 0;
        margin-top: 2vw;

        div {
          background-color: var(--black);
        }
      }

      a:nth-child(1),
      a:nth-child(4) {
        background-color: var(--grey);
        hgroup {
          div {
            background-color: var(--grey);
          }
        }
      }
      a:nth-child(2),
      a:nth-child(5) {
        hgroup {
          div {
            background-color: var(--white);
          }
        }
      }
      a:nth-child(3),
      a:nth-child(6) {
        hgroup {
          div {
            background-color: var(--yellow);
          }
        }
      }
      div:nth-child(1),
      div:nth-child(2),
      div:nth-child(4),
      div:nth-child(5) {
        hgroup {
          div {
            p {
              background-color: var(--yellow);
            }
          }
        }
      }
    }

    button {
      background-color: var(--black);
      color: var(--yellow);
      padding: 1vw 3vw;
      border-radius: 0.5vw;
      border: 0;
      font-family: 'Evolventa-Bold', sans-serif;
      font-size: 1.125rem;
      margin-top: 3vw;
      margin-left: 40vw;
    }
  }

  .tricks_two {
    width: 100%;
    height: 12vw;
    background-color: var(--grey);
    padding: 3.5vw;
  }

  .tricks_three {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 45vw;
    padding: 3.5vw;

    .card_tricks {
      margin-left: 0;
      margin-top: 0;
    }
  }
}

body.tricks1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  img.coverMini {
    margin: 9vw 3.5vw 0 3.5vw;
    border-radius: 0.5vw;
  }
  .tricksHead,
  .tricksOne,
  .tricksTwo,
  .tricksThree {
    width: 100%;
    display: flex;
    gap: 4vw;
    padding: 4vw;
    div {
      p {
        width: 100%;
      }
    }
  }
  .tricksHead {
    h2 {
      width: 70%;
    }
  }

  .tricksOne {
    hgroup {
      width: 70%;
      h3 {
        margin-bottom: 1rem;
      }
      p {
        width: 70%;
      }
    }
  }
  .tricksTwo {
    section {
      img {
        width: 90%;
      }
    }
  }

  .tricksThree {
    display: flex;
    flex-direction: column;
    section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      div {
        section {
          p {
            width: auto;
          }
        }
      }
      img {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  body.tricks {
    h3 {
      font-size: 1rem;
    }
    .cover {
      background-position: -95vw;
      h1 {
        font-size: 3.125rem;
      }

      h5 {
        font-size: 2rem;
      }
    }
    .tricks_one {
      height: 400vw;
      padding: 8vw 3.5vw;
      hgroup {
        flex-direction: column;
        section {
          width: 100%;
          margin-top: 2vw;
        }
      }
      hgroup:nth-child(1) {
        align-items: flex-start;
      }
      section {
        gap: 2vw;
        margin-top: 6vw;
        div.card_tricks {
          width: 100%;
        }
        #button {
          padding: 4vw 0;
          border-radius: 1.2vw;
          width: 100%;
          margin-left: 0;
        }
      }
    }

    .tricks_two {
      height: 30vw;
      padding: 8vw 3.5vw;
      h3 {
        text-align: center;
      }
    }

    .tricks_three {
      height: 150vw;
      padding: 8vw 3.5vw;
      gap: 2vw;
      div.card_tricks {
        width: 100%;
        justify-content: center;
        margin-top: 2vw;
      }
    }
  }

  body.tricks1 {
    img.coverMini {
      margin-left: 50vw;
    }
    .tricksHead,
    .tricksOne,
    .tricksTwo,
    .tricksThree {
      div:nth-child(1) {
        display: none;
      }
    }
    .tricksOne {
      hgroup {
        width: 100%;
        p {
          width: 90%;
        }
      }
    }

    .tricksTwo {
      section {
        img {
          width: 100%;
        }
      }
    }
    .tricksThree {
      flex-direction: column;

      section {
        flex-direction: column;
        gap: 10vw;
        align-items: center;
        div {
          width: 98%;
          p {
            width: 100%;
          }
        }
        img {
          width: 100%;
        }
      }
    }
  }
}
