<div class="W_BannerQuestion Q_BannerQuestion">
  <div class="M_ItalicText">
    <h3 class="A_Header3">Советы безопасности в&nbsp;парке</h3>
    <p class="A_BodyTextItalic">
      В&nbsp;скейт-парке главное&nbsp;&mdash; это&nbsp;безопасность. Обязательно
      надевай шлем и&nbsp;защиту на&nbsp;колени и&nbsp;локти. Следи
      за&nbsp;очередью и&nbsp;не&nbsp;мешай другим кататься. Лучше начинать
      с&nbsp;простых трюков, а&nbsp;потом уже&nbsp;пробовать сложнее.
      И,&nbsp;конечно, будь внимателен к&nbsp;другим райдерам, чтобы&nbsp;всем
      было комфортно и&nbsp;безопасно.
    </p>
  </div>
</div>
