<footer class="S_Footer">
  <div class="O_FooterMenuLogoSocial">
    <div class="W_FooterMenuLogo">
      <a href="https://hseadc.github.io/spot/" class="A_LogoYellow"></a>
      <div class="C_HeaderMenuSectionsFooter">
        <a href="https://hseadc.github.io/spot/tricks.html" class="A_TextButton"
          >Трюки</a
        >
        <a href="https://hseadc.github.io/spot/spots.html" class="A_TextButton"
          >Локации</a
        >
        <a href="https://hseadc.github.io/spot/tips.html" class="A_TextButton"
          >Статьи</a
        >
        <a href="https://hseadc.github.io/spot/fun.html" class="A_TextButton"
          >Фан</a
        >
      </div>
    </div>
    <div class="C_Social">
      <img src="images/components/02_Atoms/tg.webp" class="A_SocialNetworks" />
      <img src="images/components/02_Atoms/vk.webp" class="A_SocialNetworks" />
    </div>
  </div>
  <div class="W_HseAuthors">
    <a href="https://hsedesign.ru" class="A_HseLogo"></a>
    <div class="C_Authors">
      <p class="A_BodyText">
        <b>Создатели</b><br /><br />Далакян Артур<br />Оюунбаатар Наранзаяа<br />Якутина
        Дарья
      </p>
      <p class="A_BodyText">
        <b>Кураторы</b><br />
        <br />
        Швецова Ксения<br />Комкова Анна
      </p>
    </div>
  </div>
</footer>
