<nav class="O_Header">
  <a href="https://hseadc.github.io/spot/">
    <img src="images/logoYellow.webp" class="A_Logo" />
  </a>
  <div class="W_Menu">
    <div class="C_HeaderMenuSections">
      <p class="A_TextButton">Трюки</p>
      <p class="A_TextButton">Локации</p>
      <p class="A_TextButton">Статьи</p>
      <p class="A_TextButton">Фан</p>
    </div>
    <a href="https://t.me/hsedesign" class="A_ButtonSmall">Гоу с нами!</a>
  </div>
</nav>
<nav class="navMobile">
  <img
    src="https://raw.githubusercontent.com/HSEADC/spot/refs/heads/main/src/images/hamburger.webp"
    alt="logo"
  />
  <a href="https://hseadc.github.io/spot/"
    ><img
      src="https://raw.githubusercontent.com/HSEADC/spot/refs/heads/main/src/images/logoDark.webp"
      alt="logo"
  /></a>
  <img
    src="https://raw.githubusercontent.com/HSEADC/spot/refs/heads/main/src/images/searchIcon.webp"
    alt="logo"
  />
</nav>
