<nav>
  <a href="https://hseadc.github.io/spot/"
    ><img
      src="https://raw.githubusercontent.com/HSEADC/spot/refs/heads/main/src/images/logoDark.webp"
      alt="logo"
  /></a>
  <div class="navSpace"></div>
  <section class="navLinks">
    <a href="https://hseadc.github.io/spot/tricks.html">трюки</a>
    <a href="https://hseadc.github.io/spot/spots.html">локации</a>
    <a href="https://hseadc.github.io/spot/tips.html">полезно</a>
    <a href="https://hseadc.github.io/spot/chill.html">фан</a>
  </section>
  <div class="navFind"></div>
  <a href="#subscribe">подписаться</a>
</nav>
<nav class="navMobile">
  <img
    src="https://raw.githubusercontent.com/HSEADC/spot/refs/heads/main/src/images/hamburger.webp"
    alt="logo"
  />
  <a href="https://hseadc.github.io/spot/"
    ><img
      src="https://raw.githubusercontent.com/HSEADC/spot/refs/heads/main/src/images/logoDark.webp"
      alt="logo"
  /></a>
  <img
    src="https://raw.githubusercontent.com/HSEADC/spot/refs/heads/main/src/images/searchIcon.webp"
    alt="logo"
  />
</nav>
