<nav class="O_Header">
  <div class="W_Menu">
    <a href="https://hseadc.github.io/spot/" class="A_LogoYellow"> </a>
    <div class="W_MenuTg">
      <div class="C_HeaderMenuSections">
        <a href="https://hseadc.github.io/spot/tricks.html" class="A_TextButton"
          >Трюки</a
        >
        <a href="https://hseadc.github.io/spot/spots.html" class="A_TextButton"
          >Локации</a
        >
        <a href="https://hseadc.github.io/spot/tips.html" class="A_TextButton"
          >Статьи</a
        >
        <a href="https://hseadc.github.io/spot/chill.html" class="A_TextButton"
          >Фан</a
        >
      </div>
      <a href="https://t.me/media_spot" class="A_ButtonSmall"
        >Гоу с&nbsp;нами!</a
      >
    </div>
  </div>
  <div class="M_MobileLogoMenu">
    <a href="https://hseadc.github.io/spot/" class="A_LogoYellow"> </a>
    <button class="A_BurgerMenu" id="toggleBtn">
      <img
        id="burgerIcon"
        src="https://raw.githubusercontent.com/HSEADC/spot/refs/heads/main/src/images/components/02_Atoms/A_BurgerMenu.svg"
        alt="menu"
      />
    </button>
  </div>
  <div class="W_MobileMenu" id="navMenu">
    <div class="C_MobileMenuLinks">
      <a href="https://hseadc.github.io/spot/index.html" class="A_Header2"
        >Главная</a
      >
      <a href="https://hseadc.github.io/spot/tricks.html" class="A_Header2"
        >Трюки</a
      >
      <a href="https://hseadc.github.io/spot/spots.html" class="A_Header2"
        >Локации</a
      >
      <a href="https://hseadc.github.io/spot/tips.html" class="A_Header2"
        >Статьи</a
      >
      <a href="https://hseadc.github.io/spot/chill.html" class="A_Header2"
        >Фан</a
      >
    </div>
    <div class="C_Social">
      <a href="https://t.me/media_spot" class="A_SocialNetworks tg"></a>
      <a href="https://vk.com/club228021421" class="A_SocialNetworks vk"></a>
    </div>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="index.js"></script>
