@import 'stylesheets/reset.scss';
@import 'stylesheets/vars.scss';
@import 'stylesheets/fonts.scss';
@import 'stylesheets/basics.scss';
@import 'stylesheets/index.scss';
@import 'stylesheets/landing.scss';

h1 {
  font-size: 15.5vw;
  text-transform: uppercase;
  color: var(--red);
  font-weight: 700;
}
h2 {
  font-size: 8.3vw;
  text-transform: uppercase;
  color: var(--blue);
  font-weight: 700;
}
p {
  font-size: 1.25vw;
  color: var(--blue);
  font-weight: 400;
}
